.cg-wrap .cg-item{
    display: block;
    margin-bottom:.24rem;
}
.cg-img-wrap{
    position: relative;
    height: 3.76rem;
    border-radius: .2rem;
    overflow: hidden;
}
.cg-img {
    width: 100%;
    height: 3.76rem;
}
.cg_info {
width: 100%;
position: absolute;
z-index: 3;
bottom: 0;
left: 0;
color: #FFFFFFB2;
font-size: .24rem;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
padding: 0 .32rem;
display: flex;
align-items: center;
justify-content: space-between;
font-weight: 600;
height: .8rem;
white-space: nowrap;
}
.cg-tiem{
display: flex;
width: 50%;
}
.cg-url-wrap{
display: flex;
 width: 50%;
}
.cg-url{
color: #EA4259;
margin-left: .04rem;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
text-align: left;
}
.cg-title{
text-overflow: ellipsis;
overflow: hidden;
text-align: left;
color: #FFFFFFCC;
padding: .12rem .04rem;
display: -webkit-box;
-webkit-line-clamp: 2;
font-size: .28rem;
font-weight: 600;

}
.cg-tag{
color: #EA4259;
}
.cg-introduction{
    width: 100%;
    padding: .24rem;
    background-color: #222222;
    border-radius: .16rem;
    margin-bottom: .16rem;
}
.cg-introduction-title{
    font-size: .32rem;
    font-weight: 600;
    color: #BEA493;
    text-align: left;
    margin-bottom: .16rem;
}
.cg-introduction-text{
    color: #FFFFFF80;
    line-height: 23px;
}
.cg-d-img{
    display: block;
    width: 100%;
}
.cg-v-p{
    padding: .24rem 0;
    color: #BEA493;
    font-size: .32rem;
    font-weight: 600;
}
.cg-fg{
    background-color: #FFFFFF26;
    height: 1px;
    width: 100%;
}