.hlheader_navTxt_active {
    font-family: PingFang SC;
    font-size: 15px;
    font-weight: 600;
    height: 21px;
    line-height: 21px;
    text-align: left;
    color: #FFB200;
}

.hlhome_LabelCoverImg {
    width: 36px;
    height: 36px;
    border-radius: 10px;

}

.hlhome_Label {
    /* width: 177px; */
    height: 52px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    align-items: center;
    background-color: #FFFFFF1A;
}

.home_LabelContent_right {
    width: 16px;
    height: 16px;

}

.hlhome_LabelContent_title {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: left;
    color: #FFFFFFE5;
}

.home_hl_img {
    width: 100%;
    height: 202px;
    border-radius: 8px;
}

.home_hl_txtTop {
    width: 319px;
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.home_hl_txtBottom {
    font-family: PingFang SC;
    font-size: 13px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: center;
    padding: 2px;
    color: #FFFFFF;
    opacity: 1;
}

.home_hl_box {
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #FFFFFF0D;
}

.home_hl_back {
    width: 100%;
    height: 202px;
    background: #000000;
    opacity: 0.4;
    position: absolute;
    top: 0px;
}

.home_hl_txtBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 29px;
}

.home_hlList {
    margin-top: 8px;

}

.home_hl_searchHot {
    width: 90px;
    height: 53px;
    position: absolute;
    top: 0;
    right: 0;

}

.home_hl_gg {
    width: 100%;
    height: 168px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 16px;
}

.read_hl {
    padding: 20px 8px;
}

.read_hl_title {
    font-family: PingFang SC;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFFCC;
}

.read_hl_txt {
    font-family: PingFang SC;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF99;
}

.read_hl_lableBox {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    margin: 24px 0;
}

.read_hl_label {
    height: 40px;
    border-radius: 8px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #FFFFFF33;
    color: #FFFFFFB2;
}

.read_hl_txtBox {
    width: 359px;
    height: 108px;
    padding: 8px 0px 8px 16px;
    border-left: 4px solid #344242;
    background: #181D1D;
}

.read_hl_txtBox_txt {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#FFFFFFCC;
    margin-bottom: 12px;
}
.read_hl_img{
    width: 100%;
    margin-top:24px;
}