<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>视频首页</title>
    <link rel="stylesheet" href="__STATIC__/video/styles.css">
    <link rel="stylesheet" href="__STATIC__/video/introduction.css">
    <link rel="stylesheet" href="__STATIC__/video/home.css">
    <script type="text/javascript" src="__STATIC__/video/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/video/js/app.js"></script>
    <link rel="stylesheet" href="__STATIC__/video/css/styles.css">
    <link rel="stylesheet" href="__STATIC__/video/min.css" />
    <link rel="stylesheet" href="__STATIC__/css/commons.css" />
       <!-- 懒加载 -->
       <script type="text/javascript" src="__JS__/jquery-2.2.4.min.js"></script>
       <script type="text/javascript" src="__JS__/bootstrap.bundle.min.js"></script>
       <script type="text/javascript" src="__JS__/clipboard.min.js"></script>
       <script type="text/javascript" src="__JS__/lozad.min.js"></script>
        <!-- 懒加载 -->
    <script>var _hmt = _hmt || [];</script>
</head>
<style>
    /* .swiper-slide  {
    background: #000;
} */

    .actives > .header_navTxt {
        color: #00feb1 !important;
        background: none;
    }
    .actives > .header_navli{
        width: 22px;
        height: 3px;
        border-radius: 3px;
        background: #00FEB1;
    }

    /* a {
        color: #ffff;
    } */

</style>
<body>
    <script>(function() {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?{$baidutongji}';
        var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(hm, s);})();
    </script>
    <!-- 人气榜 -->
    <div id="page">
        <input type="hidden" id="site_id" value="{$site_id}">
        <input type="hidden" id="channel" value="{$tongjiCode}">
        <!-- 顶部 -->
        <div class="header">
            <div class="headerBox">
                <a href="/video/{$channel}.html">
                <div class="logoBox">
                    <img src="{$logo}" class="header_logo">
                    <!-- <img src="__STATIC__/video/img/logoTxt.png" class="header_logoTxt"> -->

                </div>
                </a>
                <a href="search/{$channel}.html">
                    <div class="header_input">
                        <div class="headerInput"> 搜索</div>
                        <img src="__STATIC__/video/img/search.png" class="header_search">

                    </div>
                </a>

                <img src="__STATIC__/video/img/collectBtn.png" class="header_collect">

            </div>
            <div class="header_nav">
                <a href="./{$channel}.html">
                <div class="header_navLine">
                    <div class="header_navTxt">
                        全部
                    </div>
                    <div class="header_navli"></div>

                </div>
                </a>
                {volist  name='videoCateData' id="item"}
                <a href="./{$channel}.html?cate_id={$item.id}">
                <div class="header_navLine {if condition='$cate_id eq $item.id'}actives{/if} ">
                    <div class="header_navTxt">
                        {$item.title}
                    </div>
                    <div class="header_navli"></div>
                </div>
                </a>
                {/volist}
             

            </div>
        </div>
        <!-- 顶部结束 -->
        <div class="contentBox" style="padding-top: 90px;">

            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {volist name='BannerList' id="Banner"}
                    <div class="swiper-slide ad" data-id="{$Banner.id}" data-channel="{$channel}" data-site="{$site_id}"
                        data-url="{$Banner.androidurl}"><img src="{$Banner.img}"></div>
                    {/volist}
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <div class="swiper-pagination"></div>
            </div>


            <!-- 九宫格 -->
            <div class="index_jiugongge">
                {volist name='jiugongge_img' id="item"}
                <div class="index_jiugongge_li ad" data-id="{$item.id}" data-channel="{$channel}" data-site="{$site_id}"
                    data-url="{$item.androidurl}">
                    <img class="index_jiugongge_img" src="{$item.img}">
                    <div class="index_jiugongge_text">{$item.name}</div>
                </div>
                {/volist}


            </div>

            <!-- 标签 -->
            <div class="home_LabelBox">

                {volist name='jiugongge_font' id="item"}
                <div class="home_Label ad" data-id="{$item.id}" data-channel="{$channel}" data-site="{$site_id}"
                    data-url="{$item.androidurl}">
                    <img src="{$item.img}" class="home_LabelCoverImg">
                    <div class="home_LabelContent">
                        <div class="home_LabelContent_title">
                            {$item.name}
                        </div>
                        <div class="home_LabelContent_txt">
                            {$item.content}
                        </div>
                    </div>
                    <img src="__STATIC__/video/img/rightCircle.png" class="home_LabelContent_title_yellowRight">
                </div>

                {/volist}

            </div>




            <div class="index_swiper" style="margin-bottom: 16px;">
                <div class="swiper-banner swiper">
                    <div class="swiper-wrapper">
                        {volist name='BannerList2' id="Banner"}
                        <div class="swiper-slide">
                            <img class="banner-img ad" src="{$Banner.img}" alt=""
                             data-id="{$Banner.id}" 
                             data-channel="{$channel}" 
                             data-site="{$site_id}"
                             data-url="{$Banner.androidurl}"
                             >
                        </div>
                        {/volist}
             
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
    
            </div>




            <!-- 导航栏 -->
            <div class="lableList">
                <a href="/video/{$channel}.html?key=1"><div class="lable 
                    {if condition='$keys eq 1'}lable_active{/if}" 
                    >推荐</div></a>
                <a href="/video/{$channel}.html?key=2"><div class="lable {if condition='$keys eq 2'}lable_active{/if}">最新</div></a>
                <a href="/video/{$channel}.html?key=3"><div class="lable {if condition='$keys eq 3'}lable_active{/if}">最热</div></a>
            </div>
            <div class="home_videoList">
                {volist name='video1' id="item"}
                <a href="/video/info/{$channel}.html?id={$item.id}">
                    <div class="home_videoLable">
                        <div class="home_videoLable_imgBox">
                            <img  class="home_videoLable_img lozad"  src="/static/images/loading_img_bg_default.jpg" data-src="{$videoimg}{$item.enpic|urlparse}">
                            <div class="home_videoLable_clock">
                                {$item.time}
                            </div>
                        </div>

                        <div class="home_videoLable_text">
                          {$item.title}
                        </div>
                        <div class="home_videoLable_bfNum">
                           {$item.eye|eyew}w次播放
                        </div>

                    </div>
                    </a>
                {/volist}
              
              
               

            </div>

            {volist name='zhong_img_ad' id="item"}
            <img src="{$item.img}" class="banner ad" data-id="{$item.id}" data-channel="{$channel}"
                data-site="{$site_id}" data-url="{$item.androidurl}">
            {/volist}

            <!-- 抖音 -->
            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
                {volist name='zhong_font_ad' id="item"}
                <div class="index_dyListBox ad " data-id="{$item.id}" data-channel="{$channel}" data-site="{$site_id}"
                    data-url="{$item.androidurl}">
                    <div class="flexBox">
                        <img src="{$item.img}" class="index_dyList_img">
                        <div class="index_dyList_dyTxt">{$item.name}</div>

                    </div>

                    <img src="__STATIC__/video/img/rightIcon.png" class="index_dyList_rightIcon">
                </div>
                {/volist}


            </div>
            <div class="home_videoList">
                {volist name='video2' id="item"}
                <a href="/video/info/{$channel}.html?id={$item.id}">
                    <div class="home_videoLable">
                        <div class="home_videoLable_imgBox">
                            <img class="home_videoLable_img lozad"   src="/static/images/loading_img_bg_default.jpg" data-src="{$videoimg}{$item.enpic|urlparse}">
                            <div class="home_videoLable_clock">
                                {$item.time}
                            </div>
                        </div>

                        <div class="home_videoLable_text">
                          {$item.title}
                        </div>
                        <div class="home_videoLable_bfNum">
                           {$item.eye|eyew}w次播放
                        </div>

                    </div>
                    </a>
                {/volist}
            </div>
            {volist name='di_img_ad' id="item"}
            <img class="banner ad" src="{$item.img}"  data-id="{$item.id}" data-channel="{$channel}"
             data-site="{$site_id}" data-url="{$item.androidurl}" />
            {/volist}
            <!-- 抖音 -->
            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
            
                {volist name='di_img_font_ad' id="item"}
                    <div class="index_dyListBox ad " data-id="{$item.id}" data-channel="{$channel}"
                    data-site="{$site_id}" data-url="{$item.androidurl}">
                        <div class="flexBox">
                            <img src="{$item.img}" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">{$item.name}</div>

                        </div>

                        <img src="__STATIC__/video/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                    {/volist}

            </div>

            <!-- 分页 -->
    
            <div class="pageNum" style="margin-top: 10px;">
                {$list|raw}
                <!-- <div class="pageNext">
                    <img src="__STATIC__/video/images/Chevron_Left.svg" />
                </div>
                <div class="pageNumBox" style="background: #FFFFFF33;">1</div>
                <div class="pageNumBox">2</div>
                <div class="pageNumBox">3</div>
                <div class="pageNumBox">4</div>
                <div class="pageNumBox">5</div>
                <div class="pageNumBox">6</div>
                <div class="pageMore">...</div>
                <div class="pageNumBox">142</div>
                <div class="pageNext"> <img src="__STATIC__/video/images/right.svg" /> </div> -->
            </div>




        </div>


    </div>




    </div>


</body>
<script src="__STATIC__/common/jq.js"></script>
<script src="__STATIC__/common/swiper.js"></script>
<script src="__STATIC__/common/apps.js"></script>
<script src="__STATIC__/video/js/swiper-bundle.min.js"></script>
<script>
  $(document).ready(function () {
    // $('[data-toggle="tooltip"]').tooltip();
    // $('[data-toggle="popover"]').popover();
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
  });
    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });

    $(document).ready(function () {
        //小说分类点击变亮
        $(".lable").click(function () {
            $(".lable").removeClass("lable_active");
            $(this).addClass("lable_active");
        });
        //漫画分类点击变亮
        $(".choosePage").click(function () {
            $(".choosePage").removeClass("choosePage_active");
            $(this).addClass("choosePage_active");
        });
        //导航栏
        $(".header_navTxt").click(function () {
            $(".header_navTxt").removeClass("header_navTxt_active");
            $(this).addClass("header_navTxt_active");
        });
        //点击正倒序
        $('.mulvTop').click(function () {
            var currentText = $('#textToChange').text();
            if (currentText === "正序") {
                $('#textToChange').text("倒序");
                $('#imgToChange').attr('src', '__STATIC__/video/images/daoxu.svg');

            } else {
                $('#textToChange').text("正序");
                $('#imgToChange').attr('src', '__STATIC__/video/images/zhengxu.svg');
            }
        });
    });
</script>

</html>