<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>小说阅读</title>
    <link rel="stylesheet" href="__STATIC__/comics/css/styleOld.css">
    <link rel="stylesheet" href="__STATIC__/comics/css/read.css">
    <link rel="stylesheet" href="__STATIC__/comics/css/introduction.css">
    <script type="text/javascript" src="__STATIC__/comics/js/jquery.js"></script>
    <link rel="stylesheet" href="__STATIC__/comics/css/styles.css">
</head>

<body>
    <!-- 人气榜 -->
    <div id="page">
        <div style="width: 100%;position: fixed;top: 0;">
            <!-- 返回栏 -->
            <div class="nav">
                <div class="left">
                    <img class="leftBtn" src="__STATIC__/comics/images/btn_left.svg" />
                    <div class="leftName">小说阅读</div>
                </div>
            </div>

        </div>
        <div style="margin-top:40px;padding:0 8px;">
            <img  class="banner" src="__STATIC__/comics/img/gg1.png" />
             <!-- 抖音 -->
             <div class="index_dyList" style="padding: 8px 0;" >
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="__STATIC__/comics/img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="__STATIC__/comics/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="__STATIC__/comics/img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="__STATIC__/comics/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>

            </div>
        </div>
        

        <div class="contentBox readBack">


            <!-- 小说标题 -->
            <div >
                <!-- 标题 -->
                <div class="readTitle">第一章 表妹的运动会</div>
                <!-- 页码 -->
                <div class="readNum">第7/8页</div>
                <p>　　一场赤裸裸的肉搏在神像前上演，而一对叔嫂则在神像后陷入了身心的“煎熬“！</p>
                <p>　　外面肉体的撞击声连绵入耳，卿娘下意识收回了抵在小叔胸前的娇小双手，不过，耳朵是捂住了，但她的玲珑玉体却不由一沉。</p>
                <p>　　如此一沉，怒突的双峰重重压在了小叔胸膛，饱满的乳肉压得向四周鼓胀，不知何时已然挺立的红润乳珠清晰的顶在了乔三肌肤上，敏感的两抹嫣红充分感受着男人的强健阳刚。</p>
                <p>　　不仅如此，乔三硕大的玉柱先是被压的向下微沉，然后不屈的向上一跳，远超常人的玉柱隔衣穿过大嫂两腿之间，顶到了卿娘的丰腴香臀，把绝色人妻稳稳托了起来。</p>
                <p>　　卿娘感到一个坚挺灼热的东西狠狠顶住了她最后的幽谷禁地，还向后探寻着她的香腴臀缝！端庄少妇芳心不由又羞又急，不可以，千万不可以！够啦，决不能让小叔再继续……</p>
                <p>贞洁美妇念及此处，双手又回到了乔三胸前，用力一推，终于让二人紧贴的肌肤分隔开来。不过虽然有分隔，但这点距离有等于无，叔嫂二人还是近在咫尺，那若有似无的碰触反而更加暧昧迷离。</p>
                <p>　　“嫂嫂……”乔三的话音早已变调，火热嘶哑，又是愧疚，又是激动；想不到自己真有亲密接触嫂嫂美体的机会，那激动的情状绝非偷窥时能够比拟万一！</p>
            </div>
            <img  class="banner" src="__STATIC__/comics/img/gg1.png" />
            <!-- 抖音 -->
            <div class="index_dyList" style="padding: 8px 0;border: 0px;" >
               <a href="">
                   <div class="index_dyListBox">
                       <div class="flexBox">
                           <img src="__STATIC__/comics/img/chigua1.png" class="index_dyList_img">
                           <div class="index_dyList_dyTxt">抖阴成人版</div>

                       </div>

                       <img src="__STATIC__/comics/img/rightIcon.png" class="index_dyList_rightIcon">
                   </div>
               </a>
               <a href="">
                   <div class="index_dyListBox">
                       <div class="flexBox">
                           <img src="__STATIC__/comics/img/chigua1.png" class="index_dyList_img">
                           <div class="index_dyList_dyTxt">抖阴成人版</div>

                       </div>

                       <img src="__STATIC__/comics/img/rightIcon.png" class="index_dyList_rightIcon">
                   </div>
               </a>

           </div>



            <!-- 分页 -->



        </div>

        <!-- 导航栏 -->
        <div class=" paddingRead" style="margin: 10px;">
            <div class="lable flex">
                <img src="__STATIC__/comics/images/return.svg" style="margin-top: 3px;" /><span style="margin-left: 5px;">返回</span>
            </div>
            <div class="lable flex" id="mulvBtn"><img src="__STATIC__/comics/images/mulv.svg" /><span
                    style="margin-left: 5px;">目录</span></div>
            <div class="lable flex"><img src="__STATIC__/comics/images/Chevron_Left.svg" /><span style="margin-left: 5px;">上一章</span>
            </div>
            <div class="lable flex">1/4页</div>
            <div class="lable flex"><span>下一章</span><img src="__STATIC__/comics/images/right.svg"
                    style="margin-left: 5px;margin-top: 1px;" /></div>
        </div>
    </div>

    <!-- 弹窗 -->
    <div class="popupRead">
        <!-- 目录 -->
        <div class="mulv">
            <div class="mulvName">被性爱征服的爱情哈哈哈啊哈哈哈哈啊哈</div>
            <div class="mulvTop">

                <div class="mulvtext">目录—更新至1338章</div>
                <div class="mulvRight">
                    <img class="zhengxu" id="imgToChange" src="__STATIC__/comics/images/zhengxu.svg" />
                    <div class="mulvRightText" id="textToChange">正序</div>
                </div>
            </div>
            <div class="chooseMl">
                <div class="choosePage">0-100</div>
                <div class="choosePage">101-200</div>
                <div class="choosePage">201-300</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
                <div class="choosePage">0-100</div>
            </div>
            <div class="mulvPz">
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>
                <div class="pzList">
                    <div class="pzLeft">被性爱征服的爱情</div>
                    <div class="pzRight">第<span style="color: #FFFFFF99;">1</span>章</div>
                </div>

            </div>

        </div>


    </div>
    <div class="popupBack"></div>

    <script>
        $(document).on('click', 'selector', function (event) {
            event.preventDefault();
        });

        $(document).ready(function () {
            $('#mulvBtn').click(function () {
                $('.popupRead').show();
                $('.popupBack').show();
            });
        });
        $(document).ready(function () {
            $('.popupBack').click(function () {
                $('.popupRead').hide();
                $('.popupBack').hide();
            });
        });
        $(document).ready(function () {
            $('#mulvBtn').click(function () {
                    
            });
        });

    </script>
</body>

</html>