<div class="footer-info">
  <div class="footer-connect">
    <div class="pb10">
      广告合作 | Telegram：
      <a class="e-mail"  href="https://t.me/{$onlinekf}" target="_blank">@{$onlinekf}</a>
    </div>
    <div>
      邮件获取最新地址
      <span class="e-mail">{$onlineemail}</span>
    </div>
  </div>
  <div class="permanent">
    永久域名：{$foreverurl}
  </div>
</div>
<div class="dialog2-wrap hidden">
  <div class="dialog2-conter">
    <img class="announcement" src="__IMAGES__/announcement.png" alt="" srcset="">
    <div class="dialog2-main">
      <div class="dialog2-url-wrap">
        <div class="dialog2-url">
          <div class="url-text">本站永久域名</div>
          <div class="url-ele">{$foreverurl}</div>
        </div>
        <div class="dialog2-qr"></div>
      </div>
      <div>
        <div class="dialog2-tips">最近屏蔽厉害，发送邮件获取新地址，永不失联发送任意内容至邮箱 <span class="dialog2-email">{$onlineemail}</span>
        </div>
        <a class="send-e"  href="mailto:{$onlineemail}">点击这里快捷发送邮件</a>
        <div class="dialog2-tips2">获取新地址（任意邮件自动秒回复）</div>
        <div class="dialog2-save">保存二维码</div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // if (!/Android|iOS|iPhone|iPad/i.test(navigator.userAgent)) {
  //   document.body.innerHTML = `<div class="s-window-tips">
  //                                       <div>
  //                                           <h1>&#28201;&#39336;&#25552;&#31034;</h1>
  //                                           <p>&#26412;&#31449;&#20165;&#25903;&#25345;&#31227;&#21160;&#35774;&#22791;&#35775;&#38382;&#65292;&#35831;&#20351;&#29992;&#31227;&#21160;&#35774;&#22791;&#25195;&#25551;&#19979;&#26041;&#30340;&#20108;&#32500;&#30721;&#25110;&#36755;&#20837;&#32593;&#22336;&#35775;&#38382;&#33;</p>
  //                                           <p>Reminder: This website only supports mobile device access, please use your mobile device to scan the QR Code below or enter the URL to access!</p>
  //                                           <div class="qr-box"></div>
  //                                       </div>
  //                                   </div> `;
  //   let qrEl = document.body.querySelector(".s-window-tips .qr-box");
  //   try {
  //     new QRCode(qrEl, {
  //       text: location.origin + '/{$channel}.html',
  //       width: 128,
  //       height: 128,
  //       colorDark: "#000000",
  //       colorLight: "#ffffff",
  //       correctLevel: QRCode.CorrectLevel.H
  //     });
  //   } catch (err) {
  //     qrEl.innerHTML = '<img src="/static/images/qr.png" alt="">'
  //   }
  // }
  function ypshare() {
    clipboard = new ClipboardJS('.content-box')
    $('#copyUrlx').val('永久回家地址8888.COM 保存永不迷路')
    clipboard.on('success', function (e) {
      e.clearSelection();
      clipboard.destroy();
    });
    clipboard.on('error', function (e) {
      clipboard.destroy();
    });
  }
  if (!(/iOS|iPhone|iPad/i.test(navigator.userAgent))) {
    if ($('meta[name="c"]').attr("c") != 100) {
      $('body').addClass('is-load')
    }
  }
  (function () {
    let time = +window.localStorage.getItem('d2_time')
    let n_time = Date.now()
    let dialog2 = $('.dialog2-wrap')
    $('.left-img').click(function(){
      dialog2.removeClass('hidden')
    })
    if(!time || !((n_time- +time ) < 30*60*1000)){
      dialog2.removeClass('hidden')
      window.localStorage.setItem('d2_time',String(n_time))
    }
    let qrEl = document.body.querySelector(".dialog2-wrap .dialog2-qr");
    try {
      new QRCode(qrEl, {
        text: location.origin + '/{$channel}.html',
        width: 82,
        height: 82,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
      });
    } catch (err) {
      qrEl.innerHTML = '<img src="/static/images/qr.png" alt="">'
    }
    function closeDialog2() {
      dialog2.addClass('hidden')
    }
    dialog2.click(closeDialog2)
    $('.send-e').click(function(e){
      e.stopPropagation()
    })
    $('.dialog2-save').click(function(e){
      e.stopPropagation()
      toast("您需要手动截图才能保存凭证哦");
      // let url = $('.dialog2-qr img').attr('src')
      // downloadImg(url,'永不丢失二维码.png')
    })
  })()

</script>
<style>
  .dialog2-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog2-conter {
    width: 5.8rem;
    border-radius: .4rem;
    background-color: #fff;
    max-width: 80vw;
    color: #333;
  }

  .announcement {
    width: 100%;
    height: 1.2rem;
    position: relative;
    top: -.2rem;
  }

  .dialog2-main {
    padding: .32rem;
    padding-bottom: .4rem;
  }

  .dialog2-url-wrap {
    background: linear-gradient(270deg, #FAF1D3 0%, #FFE4DF 100%);
    border-radius: .2rem;
    width: 4..94rem;
    padding: .24rem;
    padding-bottom: .2rem;
    display: flex;
  }

  .dialog2-url {
    padding-right: .96rem;
  }

  .url-text {
    font-size: .24rem;
  }

  .url-ele {
    color: #CB0808;
    font-size: .28rem;
    margin-top: .06rem;
  }

  .dialog2-qr {
    width: 94px;
    height: 94px;
    background-color: #fff;
    padding: 6px;
    border-radius: 10px;
  }

  .dialog2-tips {
    font-size: .24rem;
    padding-top: .32rem;
  }

  .dialog2-email {
    font-weight: 600;
  }

  .send-e {
    display: block;
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    background: linear-gradient(229.21deg, #FD5B25 15.85%, #F3257E 86.08%);
    border-radius: .2rem;
    text-align: center;
    color: #fff;
    font-size: .28rem;
    font-weight: 600;
    margin: .24rem 0;
  }

  .dialog2-tips2 {
    color: #999;
    font-size: .24rem;
    text-align: center;
    margin-top: .08rem;
  }

  .dialog2-save {
    margin-top: .32rem;
    width: 100%;
    border-radius: .2rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    border: 2px solid #D9CFC8;
    color: #7F756E;
  }


  .x_tap_top {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 200px;
    z-index: 99999999999;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.12);
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
</style>
<div class="x_tap_top" id="x_tap_top"><i class="bi bi-arrow-up"></i></div>
<script>
  $('#x_tap_top').on('click', function () {
    $('body, html').animate({
      scrollTop: 0,
    }, 500);
    return false;
  })
</script>
<style type="text/css">
  .footer-box {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
</style>
<script type="text/javascript" src="{$jscsscdn}__JS__/utils_mobile.js"></script>
<!-- 底飘广告 -->
{if $action == 'featured' || $action == 'category' || $action == 'videoplay'}
<!-- <script type="text/javascript" src="{$jscsscdn}__JS__/js-code1.txt"></script> -->
{/if}
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
  });
  // sweetalert2弹窗配置
  const SSwal = Swal.mixin({
    confirmButtonColor: '#007bff',
    cancelButtonColor: '#6c757d',
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    reverseButtons: true,
  })
 
</script>
<!-- 禁开发者工具调试 -->
<script>
  //如果用户在工具栏调起开发者工具，那么判断浏览器的可视高度和可视宽度是否有改变，如有改变则关闭本页面 
  // var debuggerH = window.innerHeight, debuggerW = window.innerWidth;
  // window.onresize = function () {
  //     if (debuggerH != window.innerHeight || debuggerW != window.innerWidth) {
  //         window.close();
  //         window.location = "about:blank";
  //     }
  // }

  // 无限的 debugger 兼容性好
  // setInterval(function() {
  //     debuggerCheck();
  //   }, 1000);
  //   var debuggerCheck = function() {
  //     function doCheck(a) {
  //       if (('' + a / a)['length'] !== 1 || a % 20 === 0) {
  //         (function() {}['constructor']('debugger')());
  //       } else {
  //         (function() {}['constructor']('debugger')());
  //       }
  //       doCheck(++a);
  //     }
  //     try {
  //       doCheck(0);
  //     } catch (err) {}
  //   };
  //   debuggerCheck();
</script>