<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="c" c="{$channel}">
    <meta name="s" s="0">
    <meta name="my" k="rinimei">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device" content="mobile">
    <link rel="icon" href="static/app-icon.png">
    <link rel="apple-touch-icon" href="static/app-icon.png">
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/noty.css" />
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/noty-themes/bootstrap-v4.css" />
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/mobile.css" />
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="{$jscsscdn}__CSS__/swiper-bundle.min.css" />
    <script type="text/javascript" src="{$jscsscdn}__JS__/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/clipboard.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/lozad.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/sweetalert2.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/noty.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/qrcode.min.js"></script>
    <script type="text/javascript" src="{$jscsscdn}__JS__/bylqwya.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('popstate', function (e) {
                e.preventDefault();
                e.stopPropagation();
                e.stopImmediatePropagation();
            }, true);
            setTimeout(function () {
                document.body.click();
            }, 0);
        });   
    </script>