<section class="pb-e-lg-40">
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#24040;&#20083;"><span><b>&#24040;&#20083;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#24040;&#33216;"><span><b>&#24040;&#33216;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#51;&#80;"><span><b>&#51;&#80;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#21150;&#20844;&#23460;"><span><b>&#21150;&#20844;&#23460;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#79;&#76;"><span><b>&#79;&#76;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#22899;&#26143;"><span><b>&#22899;&#26143;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#20869;&#23556;"><span><b>&#20869;&#23556;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#20154;&#22971;"><span><b>&#20154;&#22971;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#24773;&#36259;"><span><b>&#24773;&#36259;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#21046;&#26381;&#35825;&#24785;"><span><b>&#21046;&#26381;&#35825;&#24785;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#30333;&#34382;"><span><b>&#30333;&#34382;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#22120;&#20855;"><span><b>&#22120;&#20855;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#83;&#77;"><span><b>&#83;&#77;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#37326;&#25112;"><span><b>&#37326;&#25112;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#36710;&#38663;"><span><b>&#36710;&#38663;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#20083;&#20132;"><span><b>&#20083;&#20132;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#24378;&#22904;"><span><b>&#24378;&#22904;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#23381;&#22919;"><span><b>&#23381;&#22919;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#21464;&#24577;"><span><b>&#21464;&#24577;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#33485;&#20117;&#31354;"><span><b>&#33485;&#20117;&#31354;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#19978;&#21407;&#20122;&#34915;"><span><b>&#19978;&#21407;&#20122;&#34915;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#20599;&#25293;"><span><b>&#20599;&#25293;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#20027;&#25773;"><span><b>&#20027;&#25773;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#32511;&#24125;&#30294;"><span><b>&#32511;&#24125;&#30294;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#36855;&#22904;"><span><b>&#36855;&#22904;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#24615;&#20405;"><span><b>&#24615;&#20405;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#35064;&#33310;"><span><b>&#35064;&#33310;</b></span></a>
    <a class="btn btn-dark" href="/search/{$channel}.html?keyword=&#21518;&#20837;"><span><b>&#21518;&#20837;</b></span></a>
</section>