.video-title{
  width: 100%;
  font-size:17px;
  text-align: left;
  color: #000;
  margin-top: 5px;
}
.video-play-box{
  /* float: left; */
  width: 100%;
  height: 35vh;
  margin-top: 6px;
}
.video-b-btn-box{
  display:flex;
  width: 100%;
  /* margin-top: 10px; */
  box-sizing: border-box;
}
.video-b-btn-box .ul-box{
  width: 20%;
  box-sizing: border-box;
  overflow: hidden;
}
.video-b-btn-box .ul-box .col-b{
  color: #666;
  width: 80%;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 5px;
  border-radius: 6px;
}
.video-b-btn-box .ul-box .col-b a{
  text-decoration: none;
}
.video-b-btn-box .ul-box .col-b:hover{
  /* background:#f6f6f6; */
}
.video-b-btn-box .ul-box .col-b a{
  color: #666;
}
.video-b-btn-box .ul-box .col-ico{
  text-align: center;
}
.video-b-btn-box .ul-box .col-ico i{
  font-size:18px;
}
.video-b-btn-box .ul-box .col-text{
  text-align: center;
  font-size:13px;
}
.video-b-btn-box .ul-box .input-copy-url{
  position: absolute;
  z-index: 11;
  left:-100%;
  top:50%;
  color: #fff; 
  opacity: 0;
}
.item-box .ran-box{
  padding: 10px 10px !important;
}
.main-box{
  float: left;
}
.row{
  flex-wrap: inherit !important;
}
.tips-remind{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    height:auto;
    color: #222;
    background-color: #e6f7ff;
    border: 0.06897rem solid #ceecff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.tips-remind2{
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    height:auto;
    color: #004085;
    background-color: #cce5ff;
    border: 0.06897rem solid #b8daff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.vip-placeholder{
  float: left;
  width: 100%;
  margin-top:10px;
  position: relative;
}
.vip-placeholder img{
  width: 100%;
}
.ad-hijacking{
  float: left;
  width: 100%;
  margin-top:10px;
  position: relative;
}
.ad-hijacking img{
  width: 100%;
  z-index: 10;
}
.ad-hijacking .floating-layer{
  position: absolute;
  width: 90%;
  height:90%;
  top: 5%;
  left: 5%;
  z-index: 99;
  overflow: hidden;
}
.ad-hijacking .floating-layer .col-cen{
  position: relative;
  float: left;
  width: 100%;
  height:83%;
  z-index: 110;
  overflow: hidden;
  border:0px solid blueviolet;
}
.ad-hijacking .floating-layer .btn-close-bottom{
  position: relative;
  z-index: 120;
  float: left;
  width:100px;
  margin-left: calc(50% - 50px);
  margin-top: 8px;
  z-index: 120;
  border-radius:0;
  
}
.ad-hijacking .floating-layer .btn-close-top-right{
  position: absolute;
  z-index: 99999;
  top:0px;
  right:8px;
  font-size:28px;
}
/* 隐藏播放器页面全屏按钮 */
.dplayer-full-in-icon{
  display:none !important;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, .3);
    padding: 16px;
}

.button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #303030;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.button:hover {
    border-color: lightskyblue;
    color: lightskyblue
}

.button.primary {
    background-color: lightskyblue;
    color: #fff;
    border: 0;
}

.dialog {
    position: fixed;
    top: 0;
    bottom: 130px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    opacity:0;
    transition: all .3s;
    overflow-y: scroll;
    z-index: 5;
}
.dialog.appear {
    opacity: 1;
}

.dialog.show {
    display: block;
}
.dialog .main {
    width: 95%;
    background-color: #fff;
    margin: 5px auto;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 0 4 0 rgba(0, 0, 0, .3);
    transform: translateY(-100%);
    opacity:0;
    transition: all .3s;
}

.dialog.appear .main {
    transform: translateY(40px);
    opacity: 1;
}

.dialog .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.dialog .header .close {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    /*padding用于增加识别范围*/
    background: transparent;
}

.dialog .header .close::before,
.dialog .header .close::after {
    width: 20px;
    height: 1px;
    content: '';
    display: block;
    background: #333;
    transform: rotate(45deg);
    position: absolute;


}

.dialog .header .close::after {
    transform: rotate(-45deg);
}

.dialog .footer {
    display: flex;
    justify-content: flex-end;
}

.dialog .footer .button {
    margin-left: 10px;
}

.noscroll{
    height: 100%;
    overflow: hidden;
}

ul>li{margin-bottom:10px;list-style-type:none;/*text-align:center*/}
ul>li.text{font-size:12px;clear:both;width:100%}


/*图标css*/
.xxlink {width:100%;background:#FFFFFF;display:flex;flex-wrap:wrap;justify-content:flex-start;border:2px solid #FFFFFF;}
.xxlink h3 {width:95%;padding:0 2.5%;font-size:18px;line-height: 26px;background:#fff;margin-bottom:12px;color:#000000;}
.navi {font-size:0;text-align:center}
.appico {width: 16%;margin: 5px 0px;height:auto;box-sizing:border-box;display:inline-block;position:relative;}
.appico p {width:100%;height: 19px;line-height: 22px;text-align:center;font-size: 11px;margin:0;color:#000000;overflow:hidden;}
.naicon {border-radius:5px;overflow:hidden;font-size:0;margin:.1px}
.appico img {border-radius: 1px;width:100%}
.appico:hover .btn-raised {-webkit-box-shadow:0 0 0 0 rgba(0,0,0,.24),0 0 0 0 rgba(0,0,0,.4),0 0 0 0 rgba(0,0,0,.22);box-shadow:0 0 0 0 rgba(0,0,0,.24),0 0 0 0 rgba(0,0,0,.4),0 0 0 0 rgba(0,0,0,.22)}
.btnx{
    padding: 8px 2px !important;
}

.btn{
      padding: 0.225rem 0.55rem !important;
      margin: 0.2rem;
      font-size: 13px;
}
/* 登录窗口相关 */
.login-ran-box{
  display: inline-block;
  background:#fff;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
}
.login-ran-box .form-group{
  float: left;
  width: 100%;
  font-size: 15px;
}
.login-ran-box .form-group .input-box{
  float: left;
  width: 100%;
  color: #333;
  border-bottom:1px solid #f3f3f3;
  margin-top: 20px;
  position: relative;
}
.login-ran-box .form-group .input-box input{
  float: left;
  width:100%;
  padding:7px 10px;
}
.login-ran-box .form-group .input-box input::input-placeholder{
  color:#bbb
}
.login-ran-box .form-group .input-box input::-moz-placeholder{
  color:#bbb
}
.login-ran-box .form-group .input-box input::-webkit-input-placeholder{
  color:#bbb
}
.login-ran-box .form-group .input-box .captcha{
  width: 140px;
  position: absolute;
  top: -12px;
  right: 0;
  cursor: pointer;
}
.login-ran-box .form-group .tpis-box{
  float:left;
  width: 100%;
  text-align: right;
  font-size:14px;
  margin-top: 15px;
}