<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="__STATIC__/image/css/styleOld.css">
    <script type="text/javascript" src="__STATIC__/image/js/jquery.js"></script>
    <link rel="stylesheet" href="__STATIC__/image/css/styles.css">
    <link rel="stylesheet" href="__STATIC__/image/css/swiperGf.css" />
</head>

<body>
    <!-- 人气榜 -->
    <div id="page">

        <!-- 顶部 -->
        <div class="header">
            <div class="header_nav">
                <div class="header_navLine">
                    <div class="header_navTxt">
                        推荐
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        精选美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        日韩美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        港台美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        国产美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        系统
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        穿越
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        武侠
                    </div>
                </div>

            </div>
        </div>
        <!-- 顶部结束 -->
        <div class="contentBox">

            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="__STATIC__/image/img/banner1.png"></div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                </div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
                <div class="swiper-pagination"></div>
            </div>
            <div class="home_searchBox">
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        极品
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        嫩模
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        网红达人
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        风俗媚娘
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        气质
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>

                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        网红达人
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        风俗媚娘
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>

                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <div class="home_searchMore">
                    搜索更多
                    <img src="__STATIC__/image/img/search.png" class="home_searchImg">
                </div>

            </div>



            <!-- 九宫格文字版 -->
            <div class="index-jiugonggeTxt" style="margin-bottom: 8px;">
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="__STATIC__/image/img/chigua3.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
            </div>
        </div>
        <!-- 排行榜 -->
        <div class="home_cardBox">
            <div class="home_card">
                <div class="home_card_title">
                    <img src="__STATIC__/image/img/flag.png" class="home_card_flag">中国女神排行榜
                </div>
                <div class="home_card_hr"></div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num" style="background: #D13E3E;">1</div>
                        <div class="home_card_name">sugar小</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">1306942</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num " style=" background: #C66234;">2</div>
                        <div class="home_card_name">米妮大萌</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num " style=" background: #CBAD3E;">3</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">4</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">5</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">6</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">7</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">8</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>

            </div>
            <div class="home_card">
                <div class="home_card_title">
                    <img src="__STATIC__/image/img/flag.png" class="home_card_flag">中国女神排行榜
                </div>
                <div class="home_card_hr"></div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num" style="background: #D13E3E;">1</div>
                        <div class="home_card_name">sugar小</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">1306942</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num " style=" background: #C66234;">2</div>
                        <div class="home_card_name">米妮大萌</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num " style=" background: #CBAD3E;">3</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">4</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">5</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">6</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">7</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">8</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>

            </div>
            <div class="home_card">
                <div class="home_card_title">
                    <img src="__STATIC__/image/img/flag.png" class="home_card_flag">中国女神排行榜
                </div>
                <div class="home_card_hr"></div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num" style="background: #D13E3E;">1</div>
                        <div class="home_card_name">sugar小</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">1306942</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num " style=" background: #C66234;">2</div>
                        <div class="home_card_name">米妮大萌</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num " style=" background: #CBAD3E;">3</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">4</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">5</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">6</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">7</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>
                <div class="home_card_list">
                    <div class="home_card_left">
                        <div class="home_card_num ">8</div>
                        <div class="home_card_name">夏美酱</div>
                    </div>
                    <div class="home_card_right">
                        <img src="__STATIC__/image/img/huo.png" class="home_card_huo">
                        <div class="home_card_name">236240</div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 图集 -->

        <div class="contentBox">
            <div class="tj_nav">推荐相册</div>
            <div class="hotList">
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
            </div>
            <img class="banner" src="__STATIC__/image/img/gg1.png" />
            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="__STATIC__/image/img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="__STATIC__/image/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="__STATIC__/image/img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="__STATIC__/image/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>

            </div>
            <div class="hotList">
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="__STATIC__/image/img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
            </div>
            <img class="banner" src="__STATIC__/image/img/gg1.png" />
            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="__STATIC__/image/img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="__STATIC__/image/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="__STATIC__/image/img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="__STATIC__/image/img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>

            </div>
             <div class="pageNum" style="margin-top: 10px;">
                <div class="pageNext">
                    <img src="__STATIC__/image/img/Chevron_Left.svg" />
                </div>
                <div class="pageNumBox" style="background: #FFFFFF33;">1</div>
                <div class="pageNumBox">2</div>
                <div class="pageNumBox">3</div>
                <div class="pageNumBox">4</div>
                <div class="pageNumBox">5</div>
                <div class="pageNumBox">6</div>
                <div class="pageMore">...</div>
                <div class="pageNumBox">142</div>
                <div class="pageNext"> <img src="__STATIC__/image/img/right.svg" /> </div>
            </div>
        </div>



    </div>




    </div>


</body>
<script src="__STATIC__/image/js/swiper.js"></script>
<script>

    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });

    $(document).ready(function () {
       
        //导航栏
        $(".header_navTxt").click(function () {
            $(".header_navTxt").removeClass("header_navTxt_active");
            $(this).addClass("header_navTxt_active");
        });
        // //点击正倒序
        // $('.mulvTop').click(function () {
        //     var currentText = $('#textToChange').text();
        //     if (currentText === "正序") {
        //         $('#textToChange').text("倒序");
        //         $('#imgToChange').attr('src', '__STATIC__/image/img/daoxu.svg');

        //     } else {
        //         $('#textToChange').text("正序");
        //         $('#imgToChange').attr('src', '__STATIC__/image/img/zhengxu.svg');
        //     }
        // });
    });
</script>

</html>