<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="__STATIC__/image/css/styleOld.css">
    <link rel="stylesheet" href="__STATIC__/image/css/home.css">
    <script type="text/javascript" src="__STATIC__/image/js/jquery.js"></script>
    <script type="text/javascript" src="__STATIC__/image/js/app.js"></script>
    <link rel="stylesheet" href="__STATIC__/image/css/styles.css">
    <link rel="stylesheet" href="__STATIC__/image/css/swiperGf.css" />
    <link rel="stylesheet" href="__STATIC__/css/commons.css" />
</head>

<body>
    <input type="hidden" id="site_id" value="{$site_id}">
    <input type="hidden" id="channel" value="{$tongjiCode}">
    <!-- 人气榜 -->
    <div id="page">

        <!-- 顶部 -->
        <div class="header">
            <div class="header_nav">
                <a href="/image/{$channel}.html">
                    <div class="header_navLine ">
                        <div class="header_navTxt ">
                            推荐
                        </div>
                    </div>
                </a>
                {volist name="novelCate" id="item"}
                <a href="/image/{$channel}.html?cate_id={$item.id}">
                    <div class="header_navLine ">
                        <div class="header_navTxt  {if condition='$cate_id eq $item.id'}header_navTxt_active{/if} ">
                            {$item.title}
                        </div>
                    </div>
                </a>
                {/volist}

            </div>
        </div>
        <!-- 顶部结束 -->
        <div class="contentBox" style="padding-top:60px">

            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    {volist name='BannerList' id="Banner"}
                    <div class="swiper-slide ad " data-id="{$Banner.id}" data-channel="{$channel}"
                        data-site="{$site_id}" data-url="{$Banner.androidurl}"><img src="{$Banner.img}"
                            onerror="this.src='/static/images/loading_img_bg_default.jpg';"></div>
                    {/volist}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="home_searchBox">
                {volist name="novelCate" id="item"}
                <a href="/image/{$channel}.html?cate_id={$item.id}">
                    <div class="home_searchBox_btn">
                        {$item.title}
                    </div>
                </a>
                {/volist}
                <a href="/image/search/{$channel}.html">
                    <div class="home_searchMore">
                        搜索更多
                        <img src="__STATIC__/image/img/search.png" class="home_searchImg">
                    </div>
                </a>
            </div>



            <!-- 九宫格文字版 -->
            <div class="index-jiugonggeTxt" style="margin-bottom: 8px;">

                {volist name="jiugongge_font" id="item"}
                <div class="index_jiugonggeTxt_text ad" data-id="{$item.id}" data-channel="{$channel}"
                    data-site="{$site_id}" data-url="{$item.androidurl}">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="{$item.img}" class="index_jiugonggeTxt_img">
                        {$item.name}
                    </div>

                    <img src="__STATIC__/image/img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                {/volist}
            </div>
        </div>

        <div class="index_swiper">
            <div class="swiper-banner swiper">
                <div class="swiper-wrapper">
                    {volist name='BannerList2' id="Banner"}
                    <div class="swiper-slide">
                        <img class="banner-img ad" src="{$Banner.img}" alt="" data-id="{$Banner.id}"
                            data-channel="{$channel}" data-site="{$site_id}" data-url="{$Banner.androidurl}">
                    </div>
                    {/volist}

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

        <!-- 排行榜 -->
        <div class="home_cardBox">
            {volist name="novelCateorder" id="item"}
            <div class="home_card">
                <div class="home_card_title">
                    <img src="__STATIC__/image/img/flag.png" class="home_card_flag">{$item.title}排行榜
                </div>
                <div class="home_card_hr"></div>
                {$item.order_html|raw}

            </div>
            {/volist}
        </div>
        <!-- 图集 -->

        <div class="contentBox">
            <div class="tj_nav">推荐相册</div>
            <div class="hotList">

                {volist name="images1" id="item"}
                <a href="/image/info/{$channel}.html?id={$item.id}">
                    <div class="book">
                        <div class="bookImg">
                            <img style="width: 100%;height: 100%;"  data-src="{$item.pic|imagefirst}"
                            src="/static/images/loading_img_bg_default.jpg" class="imgbase64" />
                            <div class="bookBox_numPage">
                                <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">{$item.pic_num}张
                            </div>
                        </div>
                        <div style="padding: 5px;">
                            <div class="bookName">{$item.title|fontsize3}</div>
                            <div class="bookText">{$item.detail|fontsize3}</div>
                            <div class="bookNav">
                                <span>#{$item.cate_id|getImageCate}</span>

                            </div>
                        </div>

                    </div>
                </a>
                {/volist}
            </div>

            {volist name='zhong_img_ad' id="item"}
            <img src="{$item.img}" class="banner ad" data-id="{$item.id}" data-channel="{$channel}"
                data-site="{$site_id}" data-url="{$item.androidurl}">
            {/volist}

            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
                {volist name='zhong_font_ad' id="item"}

                <div class="index_dyListBox ad" data-id="{$item.id}" data-channel="{$channel}" data-site="{$site_id}"
                    data-url="{$item.androidurl}">
                    <div class="flexBox">
                        <img src="{$item.img}" class="index_dyList_img"
                            onerror="this.src='/static/images/loading_img_bg_default.jpg';">
                        <div class="index_dyList_dyTxt">{$item.name}</div>

                    </div>

                    <img src="__STATIC__/novel/img/rightIcon.png" class="index_dyList_rightIcon">
                </div>

                {/volist}

            </div>
            <div class="hotList">
                {volist name="images2" id="item"}
                <a href="/image/info/{$channel}.html?id={$item.id}">
                    <div class="book">
                        <div class="bookImg">
                            <img style="width: 100%;height: 100%;" data-src="{$item.pic|imagefirst}"
                                src="/static/images/loading_img_bg_default.jpg" class="imgbase64" />
                            <div class="bookBox_numPage">
                                <img src="__STATIC__/image/img/tuji.png" class="bookBox_img">{$item.pic_num}张
                            </div>
                        </div>
                        <div style="padding: 5px;">
                            <div class="bookName">{$item.title|fontsize3}</div>
                            <div class="bookText">{$item.detail|fontsize3}</div>
                            <div class="bookNav">
                                <span>#{$item.cate_id|getImageCate}</span>

                            </div>
                        </div>

                    </div>
                </a>
                {/volist}

            </div>
            {volist name='di_img_ad' id="item"}
            <img class="banner ad" src="{$item.img}" data-id="{$item.id}" data-channel="{$channel}"
                data-site="{$site_id}" data-url="{$item.androidurl}"
                onerror="this.src='/static/images/loading_img_bg_default.jpg';" />
            {/volist}
            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
                {volist name='di_img_font_ad' id="item"}
                <div class="index_dyListBox ad " data-id="{$item.id}" data-channel="{$channel}" data-site="{$site_id}"
                    data-url="{$item.androidurl}">
                    <div class="flexBox">
                        <img src="{$item.img}" class="index_dyList_img"
                            onerror="this.src='/static/images/loading_img_bg_default.jpg';">
                        <div class="index_dyList_dyTxt">{$item.name}</div>

                    </div>

                    <img src="__STATIC__/video/img/rightIcon.png" class="index_dyList_rightIcon">
                </div>
                {/volist}

            </div>
            <div class="pageNum" style="margin-top: 10px;">
                {$image|raw}
            </div>
        </div>



    </div>




    </div>


</body>
<script src="__STATIC__/common/jq.js"></script>
<script src="__STATIC__/common/swiper.js"></script>
<script src="__STATIC__/common/apps.js"></script>
<script src="__STATIC__/image/js/swiper.js"></script>
<script>
    $(document).ready(function () {
        // 获取所有 class 为 imgbase64 的 img 标签 
        $('img.imgbase64').each(function () {
            var img = $(this);
            var imgSrc = img.attr('data-src');
            var url="{$img_cdn}/"+imgSrc
            var content="";
            $.ajax({ url:url, 
             type: 'GET', 
             success: function(data) { 
                content='data:image/jpeg;base64,'+data
                console.log(content)
                img.attr('src', content);
            }, 
                error: function(xhr, status, error) { } 
            });
           
        });
    });
    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });

    $(document).ready(function () {

        //导航栏
        $(".header_navTxt").click(function () {
            $(".header_navTxt").removeClass("header_navTxt_active");
            $(this).addClass("header_navTxt_active");
        });
        // //点击正倒序
        // $('.mulvTop').click(function () {
        //     var currentText = $('#textToChange').text();
        //     if (currentText === "正序") {
        //         $('#textToChange').text("倒序");
        //         $('#imgToChange').attr('src', '__STATIC__/image/img/daoxu.svg');

        //     } else {
        //         $('#textToChange').text("正序");
        //         $('#imgToChange').attr('src', '__STATIC__/image/img/zhengxu.svg');
        //     }
        // });
    });
</script>

</html>