<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="./css/styleOld.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/swiperGf.css" />
</head>

<body>
    <!-- 人气榜 -->
    <div id="page">

        <!-- 顶部 -->
        <div class="header">
            <div class="header_nav">
                <div class="header_navLine">
                    <div class="header_navTxt">
                        推荐
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        精选美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        日韩美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        港台美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        国产美女
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        系统
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        穿越
                    </div>
                </div>
                <div class="header_navLine">
                    <div class="header_navTxt">
                        武侠
                    </div>
                </div>

            </div>
        </div>
        <!-- 搜索框 -->
         <div class="serachBox">
            <div class="searchBox_Box">
                <input  class="searchBox_input" placeholder="搜索更多"/>
                <img src="./img/search.png" class="searchBox_searcchImg">
                <div class="searchBox_Btn">搜索</div>
            </div>
            

         </div>
        <!-- 顶部结束 -->
        <div class="contentBox">

            <div class="home_searchBox">
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        极品
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        嫩模
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        网红达人
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        风俗媚娘
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        气质
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>

                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        网红达人
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        风俗媚娘
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>

                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <a href="">
                    <div class="home_searchBox_btn">
                        女神
                    </div>
                </a>
                <div class="home_searchMore">
                    搜索更多
                    <img src="./img/search.png" class="home_searchImg">
                </div>

            </div>



            <!-- 九宫格文字版 -->
            <div class="index-jiugonggeTxt" style="margin-bottom: 8px;">
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
                <div class="index_jiugonggeTxt_text">
                    <div class="index_jiugonggeTxt_textleft">
                        <img src="./img/logo.png" class="index_jiugonggeTxt_img">
                        国产精品
                    </div>
                    
                    <img src="./img/rightBtn.png" class="index_jiugonggeTxt_rightBtn">
                </div>
            </div>
        </div>
        <!-- 图集 -->

        <div class="contentBox">
            <div class="tj_nav">猜你喜欢</div>
            <div class="hotList">
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="./img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="./img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="./img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="./img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="./img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="./img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
                <div class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" src="./img/chigua1.png" />
                        <div class="bookBox_numPage">
                            <img src="./img/tuji.png" class="bookBox_img">47张
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">杨晨晨Yome</div>
                        <div class="bookText">高清写真图丝袜美腿</div>
                        <div class="bookNav">
                            <span>#人妻</span>
                            <span>#乱伦</span>
                        </div>
                    </div>

                </div>
            </div>
            <img class="banner" src="./img/gg1.png" />
            <div class="index_dyList" style="padding: 8px 0;border: 0px;">
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="./img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="./img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>
                <a href="">
                    <div class="index_dyListBox">
                        <div class="flexBox">
                            <img src="./img/chigua1.png" class="index_dyList_img">
                            <div class="index_dyList_dyTxt">抖阴成人版</div>

                        </div>

                        <img src="./img/rightIcon.png" class="index_dyList_rightIcon">
                    </div>
                </a>

            </div>
            
        </div>



    </div>




    </div>


</body>
<script src="./js/swiper.js"></script>
<script>

    var swiper = new Swiper(".mySwiper", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });

    $(document).ready(function () {
       
        //导航栏
        $(".header_navTxt").click(function () {
            $(".header_navTxt").removeClass("header_navTxt_active");
            $(this).addClass("header_navTxt_active");
        });
        // //点击正倒序
        // $('.mulvTop').click(function () {
        //     var currentText = $('#textToChange').text();
        //     if (currentText === "正序") {
        //         $('#textToChange').text("倒序");
        //         $('#imgToChange').attr('src', './img/daoxu.svg');

        //     } else {
        //         $('#textToChange').text("正序");
        //         $('#imgToChange').attr('src', './img/zhengxu.svg');
        //     }
        // });
    });
</script>

</html>