{include file="mobile_header" /}
<title>漫画阅读</title>
<link rel="stylesheet" type="text/css" href="__CSS__/styles.css" />
</head>

<body>

<!-- 人气榜 -->
<div id="page">
    <div style="width: 100%;position: fixed;background: #000;top: 0;">
        <!-- 返回栏 -->
        <div class="nav">
            <a href="/comic/detail/{$channel}.html?novel_id={$novel['id']}" class="left">
                <img class="leftBtn" src="__IMAGES__/btn_left.svg" />
                <div class="leftName">漫画阅读</div>
            </a>
            <div class="right">
                {volist name='XCategoryTitleTextList' id="XSudokuText"}
                <a i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank" class="rightBtn">{$XSudokuText['name'] | raw}</a>
                {/volist}
            </div>
        </div>

    </div>

    <div class="contentBox">


        <!-- 小说标题 -->
        <div>
            <!-- 标题 -->
            <div class="readTitle">
                {volist name='XMhTopHFList' id="XTopHF"}
                <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank" style="padding:0">
                    <img class="hf-ad-img lozad"
                         data-src="{$XTopHF['img'] | raw}"
                         src="__IMAGES__/loading_img_bg_default.jpg" alt="">
                </a>
                {/volist}
                {$chapter['name'] | raw}
            </div>

            <!--{$chapter['content'] | raw}-->
                {volist name="manhuaList" id="manhua"}
                <img style="width: 100%;margin-top: 5px;" class="lozad" data-src="{$manhua | raw}" src="__IMAGES__/loading_img_bg_default.jpg" alt="">
                {/volist}
        </div>

        {volist name='XMhBottomHFList' id="XTopHF"}
        <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank" style="padding: 0;margin-top:10px;">
            <img class="hf-ad-img lozad"
                 data-src="{$XTopHF['img'] | raw}"
                 src="__IMAGES__/loading_img_bg_default.jpg" alt="">
        </a>
        {/volist}


        <!-- 分页 -->



    </div>

    <!-- 导航栏 -->
    <div class="lableList paddingRead" style="margin: 10px;">
        <a href="/comic/detail/{$channel}.html?novel_id={$novel['id']}" class="lable flex" style="height:36px;">
            <img src="__IMAGES__/return.svg" style="margin-top: 3px;" /><span style="margin-left: 5px;">返回</span>
        </a>
        <div class="lable flex" id="mulvBtn" style="height:36px;"><img src="__IMAGES__/mulv.svg" /><span
                style="margin-left: 5px;">目录</span></div>
        <a href="/comic/chapter/{$channel}.html?chapter_id={$pre['id']}" class="lable flex" style="height:36px;"><img src="__IMAGES__/chevron_Left.svg" /><span style="margin-left: 5px;">上一话</span>
        </a>
        <a href="/comic/chapter/{$channel}.html?chapter_id={$next['id']}" style="height:36px;" class="lable flex"><span>下一话</span><img src="__IMAGES__/right.svg"
                                                                                                                                          style="margin-left: 5px;margin-top: 1px;" /></a>
    </div>
</div>

<!-- 弹窗 -->
<div class="popupRead">
    <!-- 目录 -->
    <div class="mulv">
        <div class="mulvName">{$novel['title'] | raw}</div>
        <div class="mulvTop">

            <div class="mulvtext">目录—更新至{$catalogcount}话</div>
            <div class="mulvRight">
                <img class="zhengxu" id="imgToChange" src="__IMAGES__/zhengxu.svg" />
                <div class="mulvRightText" id="textToChange">正序</div>
            </div>
        </div>

        <div class="mulvPz">
            {volist name="cataloglist" id="index"}
            <a  href="/comic/chapter/{$channel}.html?chapter_id={$index['id']}" class="pzList">
                <div {if condition='$chapter.id eq $index.id'} style="color: #FDA765;"  {/if} class="pzLeft">{$index['name'] | raw}</div>
        <!--<div class="pzRight">第<span style="color: #FFFFFF99;">{$index['id']}</span>{$index['chapter']}</div>-->
        </a>
        {/volist}
    </div>

</div>


</div>
<div class="popupBack"></div>
<script type="text/javascript" src="{$jscsscdn}__JS__/utils_mobile.js"></script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();
  });
  // sweetalert2弹窗配置
  const SSwal = Swal.mixin({
    confirmButtonColor: '#007bff',
    cancelButtonColor: '#6c757d',
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    reverseButtons: true,
  })
 
  /*
  debugger
  */
  myDialog(
      [
          {volist name='XPopUpList' id="XPopUp" key="index"}
          {
              url: '{$XPopUp['img']}',
              id: {$XPopUp['id']},
              herf: '{$XPopUp['url']}'
          },
          {/volist}
      ]
  )
 
</script>




<script>
    $(document).on('click', 'selector', function (event) {
        event.preventDefault();
    });

    $(document).ready(function () {
        $('#mulvBtn').click(function () {
            $('.popupRead').show();
            $('.popupBack').show();
        });
    });
    $(document).ready(function () {
        $('.popupBack').click(function () {
            $('.popupRead').hide();
            $('.popupBack').hide();
        });
    });
    $(document).ready(function () {
        $('#mulvBtn').click(function () {

        });
    });
    $(document).ready(function(){
        //目录点击变亮
        $(".choosePage").click(function(){
            $(".choosePage").removeClass("choosePage_active");
            $(this).addClass("choosePage_active");
            var moveX = $(this).position().left+$(this).parent().scrollLeft();
            var pageX = document.documentElement.clientWidth;
            var blockWidth = $(this).width();
            var left = moveX-(pageX/2)+(blockWidth/2);
            $(".chooseMl").scrollLeft(left);
        });
        //点击正倒序
        var $link = $('.pzList');
        $('.mulvTop').click(function() {

            var currentText = $('#textToChange').text();
            if (currentText === "正序") {
                $('#textToChange').text("倒序");
                $('#imgToChange').attr('src', '__IMAGES__/daoxu.svg');
                var container = $('.mulvPz');
                var items = container.find('.pzList');
                items = items.toArray().reverse();
                container.empty();
                $.each(items, function(index, item) {
                    container.append(item);
                });
            } else {
                $('#textToChange').text("正序");
                $('#imgToChange').attr('src', '__IMAGES__/zhengxu.svg');
                var container = $('.mulvPz');
                var items = container.find('.pzList');
                items = items.toArray().reverse();
                container.empty();
                $.each(items, function(index, item) {
                    container.append(item);
                });
            }
        });
    });
</script>
</body>

</html>