{include file="mobile_header" /}
<title>视频列表--{$category_name}</title>
</head>

<body>
    <div class="v-s-nav-box-h">
        <div class="main-box">
            <div class="v-s-logo"><a href="/5.html"><img
                        src="__IMAGES__/logo.png"><!-- <div class="v-s-logo-text">FaceShow</div> --></a></div>
            <div class="v-s-nav-search-box">
                <a href="/searchhome/{$channel}.html">
                    <div class="search-person">
                        <div class="s-text">&#30334;&#19975;&#29255;&#24211;</div>
                        <i class="bi bi-search"></i>
                    </div>
                </a>
                <div>
                    <img class="left-img" src="__IMAGES__/wy.png" alt="" srcset="">
                </div>
            </div>
        </div>
        <!-- 标题栏bp -->
        <div class="v-s-ul-time-vs_442378ea5a0a0b9d99bed43dc146baa0 top-nav">
            <a href="/5.html">
                <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">导航</div>
            </a>
            {volist name='menulist' id="menu"}
            <a href="/category/{$channel}.html?category_id={$menu['id']}">
                <div
                    class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item {if condition='$category_id eq $menu.id'}nav-menu-selected{/if}">
                    {$menu['title']}</div>
            </a>
            {/volist}
        </div>
    </div>
    <div id="swiper-banner" class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                    <div title="澳门赌场">
                        <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                    <div title="澳门赌场">
                        <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="marquee-wrap">
        <div class="marquee-box">
            <div class="icon-speaker">
                <i class="not bi-bell-fill"></i>
            </div>
            <div class="container-main">
                <p>&#26816;&#27979;&#21040;&#24403;&#21069;&#27983;&#35272;&#22120;&#24050;&#25318;&#25130;&#26412;&#31449;&#37096;&#20998;&#33394;&#24773;APP&#65292;&#22914;APP&#22270;&#26631;&#26080;&#27861;&#28857;&#20987;&#65292;&#35831;&#22797;&#21046;&#32593;&#22336;&#23581;&#35797;&#19981;&#21516;&#27983;&#35272;&#22120;
                </p>
            </div>
        </div>
    </div>
    <div class="conter-wrap">
        <div class="ad-conter px10">
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                <img src="https://u1010.com/c61f43a83a614152b4dbc5d7f6ed7575.gif">
                <div>澳门赌场</div>
            </a>
        </div>
        <style>
            .textad {
                display: grid;
                grid-template-columns: repeat(5, minmax(0, 1fr));
                gap: 5px;
            }

            .textad a {
                text-align: center;
                background-color: #D4E9FB;
                padding: 5px 10px;
                border-radius: 4px;
                color: #074995;
            }

            .vidoe-title-1 {
                margin: 16px 0;
                height: 21px;
                color: #98999A;
            }

            .video-title-text {
                text-align: end;
                display: block;
                font-size: 12px;
                margin-left: 2px;
            }
        </style>
        <div class="textad">
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                澳门赌场
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                澳门赌场
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                澳门赌场
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                澳门赌场
            </a>
            <a rel="external nofollow" i="" href="https://x33316.com:5433" target="_blank">
                澳门赌场
            </a>
        </div>
        <div class="flex-space-between vidoe-title-1">
            <div class="flex-center">
                <img src="__IMAGES__/video-icon.svg" alt="">
                <span class="video-title-text">精选</span>
            </div>
            <div>共820部</div>
        </div>
        <style>
            .ran-box {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 5px;
            }

            .pre-img {
                width: 100%;
                height: auto;
            }

            .rank-title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: #98999A;
                margin-top: 5px;
            }

            .vs_8e43cea1a3310b70a00fc627ef21be48-item-vide-n:first-child {
                grid-column: span 2 / span 2;
                gap: 12px;
            }
        </style>
        <div class="ran-box">
            {volist name="videolist" id="video"}
            <div class="vs_8e43cea1a3310b70a00fc627ef21be48-item-vide-n">
                <div class="rank-a relative" data-vid="{$video['id']}" data-sl="{$video['video']}"
                    data-href="/videoplay/{$channel}.html?category_id={$category_id}&category_child_id={$category_child_id}&vid={$video['id']}">
                    <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                        data-src="{$video['enpic']}" />
                    <div class="mask_info">
                        <div class="time">{$video['create_time']|date='Y-m-d'}</div>
                        <div class="clearfix">
                            <div class="pre-eye">
                                <i class="bi bi-eye"></i>
                                <span>{$video['eye']}</span>
                            </div>
                            <div class="pre-time">
                                <i class="bi bi-clock"></i>
                                <span>{$video['time']}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/videoplay/{$channel}.html?category_id={$category_id}&category_child_id={$category_child_id}&vid={$video['id']}"
                    data-href="/videoplay/{$channel}.html?category_id={$category_id}&category_child_id={$category_child_id}&vid={$video['id']}">
                    <div class="rank-title">{$video['title']}</div>
                </a>
            </div>
            {/volist}
        </div>
        <div class="pagination-box">{$page|raw}<style type="text/css">
                .pagination-box {
                    /* float: left; */
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    text-align: center;
                    margin-top: 10px;
                }

                .pagination-box ul {
                    margin-bottom: 10px !important;
                }

                .pagination-box .pagination .page-item input {
                    width: 50px;
                    text-align: center;
                }

                .page-link {
                    user-select: none;
                }

                .page-link:focus {
                    box-shadow: 0 0 0 0 !important;
                }

                .last_page_p {
                    color: #666;
                    margin-top: 6px;
                    margin-left: 8px;
                }

                .jump-box {
                    float: left;
                    width: 100%;
                    position: relative;
                    top: 0px;
                    box-sizing: border-box;
                    text-align: center;
                }

                .jump-box input {
                    float: left;
                    width: 45%;
                    height: 31px;
                    text-align: center;
                    margin-left: calc(25% - 25px);
                    border-radius: 4px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .jump-box input:hover {
                    background-color: #fff;
                    border: 1px solid #007bff;
                }

                .jump-box input:focus {
                    text-shadow: 0;
                }

                .jump-box .btn {
                    float: left;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            </style>
        </div>
    </div>

    {include file="mobile_footer"}
</body>

</html>