{include file="mobile_header" /}
<title>漫画简介</title>
<link rel="stylesheet" type="text/css" href="__CSS__/styles.css" />
</head>
<style>
    body{
        font-size:12px!important;
    }
</style>
<body>

<div class="v-s-nav-box-h">
    <div class="logo-box p9">
        <div class="v-s-logo">
            <a href="/{$channel}.html">
                <img src="__IMAGES__/logo.png">
            </a>
        </div>
        <div class="v-s-nav-search-box">
            <a href="/searchhome/{$channel}.html">
                <div class="search-person">
                    <div class="s-text">&#20154;&#22971;</div>
                    <i class="bi bi-search"></i>
                </div>
            </a>
            <img class="left-img" src="__IMAGES__/collect-btn.png" alt="" srcset="">
        </div>
    </div>
    <div class="h-textad">
        {volist name='XSudokuTextList' id="XSudokuText"}
        <a class="text-c-1" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank">
            {$XSudokuText['name'] | raw}
        </a>
        {/volist}
    </div>
</div>
<!-- 标题栏bp -->
<div class="v-s-ul-time-vs_442378ea5a0a0b9d99bed43dc146baa0 top-nav pb10">
    <a href="/{$channel}.html">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">
            &#39318;&#39029;
        </div>
    </a>
    <a href="/novel/{$channel}.html" >
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item" style="display:flex;justify-content: center;align-items: center;">
            &#23567;&#35828; <img style="width:22px;height:12px;margin-left:2px;margin-top:1px; " src="__IMAGES__/new.svg">
        </div>
    </a>
    <a href="/comic/{$channel}.html">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item" style="display:flex;justify-content: center;align-items: center;">
            &#28459;&#30011; <img style="width:22px;height:12px;margin-left:2px;margin-top:1px;" src="__IMAGES__/hots.svg">
        </div>
    </a>
    {volist name='menulist' id="menu"}
    <a href="/category/{$channel}.html?category_id={$menu['id']}">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item ">{$menu['title'] | raw}</div>
    </a>
    {/volist}
</div>
{volist name='XTopHFList' id="XTopHF"}
<a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank">
    <img class="hf-ad-img lozad"
         data-src="{$XTopHF['img'] | raw}"
         src="__IMAGES__/loading_img_bg_default.jpg" alt="">
</a>
{/volist}
<div class="ad-conter ">
    {volist name='XSudokuList' id="XSudoku"}
    <a rel="external nofollow" i="{$XSudoku['id']}" href="{$XSudoku['url'] | raw}" target="_blank">
        <img class="lozad"
             data-src="{$XSudoku['img'] | raw}"
             src="__IMAGES__/loading_img_bg_default.jpg">
        <div>{$XSudoku['name'] | raw}</div>
    </a>
    {/volist}
</div>
<div class="textad pb10">
    {volist name='XTopTextList' id="XSudokuText"}
    <a class="text-c-4" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank">
        {$XSudokuText['name'] | raw}
    </a>
    {/volist}
</div>
{volist name='XTopBannerHFList' id="XTopHF"}
<a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank">
    <img class="hf-ad-img lozad"
         data-src="{$XTopHF['img'] | raw}"
         src="__IMAGES__/loading_img_bg_default.jpg" alt="">
</a>
{/volist}

<!-- 人气榜 -->
<div id="page">
    <!-- 返回栏 -->
    <div class="nav">
        <a href="/comic/{$channel}.html" class="left">
            <img class="leftBtn" src="__IMAGES__/btn_left.svg" />
            <div class="leftName">漫画简介</div>
        </a>
        <div class="right">
            <a href="http://google.com" class="rightBtn">棋牌游戏</a>
            <a href="http://google.com" class="rightBtn">强奸迷奸</a>
            <a href="http://google.com" class="rightBtn">偷拍自拍</a>

        </div>
    </div>

    <div class="contentBox">


        <div class="xsBox">
            <!-- 小说1 -->
            <div class="contentList">
                <div class="contentListLeft">
                    <img class="contentCover" src="{$novel['pic']}" />
                </div>
                <div class="contentRight" style="display: flex;flex-direction: column;justify-content: space-between;">
                    <div class="contentName" style="color: #FF3172;">{$novel['title'] | raw}</div>
                    <div class="contentAuthor">
                        <span class="contentNav">作者</span>
                        <span class="contentA">{$novel['author']}</span>
                    </div>
                    <div class="contentAuthor">
                        <span class="contentNav">状态</span>
                        {if condition='$novel.is_finish == 0'}
                        <span class="contentLz" style="background: linear-gradient(282.53deg, #1D4AFF 64.29%, #00EAFF 95.78%);
">连载</span>
                        {else}
                        <span class="contentLz" style="background: linear-gradient(285.38deg, #00A814 61.2%, #B6FE00 97.69%);
;
">完结</span>
                        {/if}
                    </div>
                    <div class="contentAuthor">
                        <span class="contentNav">最新</span>
                        <span class="contentA fontWeight">更新至{$catalogcount}话</span>
                        <span class="contentA fontWeight">半年前</span>
                    </div>
                    <div class="contentAuthor">
                        <span class="contentNav">题材</span>
                        <a href="/comic/category/{$channel}.html?cid={$novel['cate_id']}"  class="theme"><span class="contentA fontColor">{$catetitle | raw}</span></a>
                    </div>
                    <div class="contentRead">
                        <div class="contentReadBox">
                            <img src="__IMAGES__/book_Open.svg" style="width:15px;height:15px;margin-right:3px;" />
                            阅读 <span style="margin-left:2px;" class="contentK view_number_yd">{$novel['eye'] |qqw}</span>
                        </div>
                        <div class="contentReadBox">
                            <img src="__IMAGES__/star.svg"style="width:12px;height:12px;margin-right:3px;" />
                            收藏<span style="margin-left:2px;" class="collect_number_yd">{$novel['shoucang'] |qqw}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 漫画简介 -->
            <div>
                <p style="font-size:12px;line-height:20px;margin-bottom:0;">{$novel['description']}</p>

            </div>
            <!-- 下面分类 -->
            <!--                <div class="bottomClass">-->
            <!--                    <a href="#" class="bct"><span style="color: #FFFFFF66;"># </span>母女花</a>-->
            <!--                    <a href="#" class="bct"><span style="color: #FFFFFF66;"># </span>校花</a>-->
            <!--                </div>-->
            <a href="/comic/chapter/{$channel}.html?chapter_id={$cataloglist[0]['id']}"
               class="openRead" ><div class="openRead">开始阅读</div></a>

        </div>

        <a href="http://google.com"><img class="banner" src="__IMAGES__/banner.png" /></a>
        <!-- 目录 -->
        <div class="mulv">
            <div class="mulvTop">
                <div class="mulvtext">目录已更新至{$catalogcount}话</div>
                <div class="mulvRight">
                    <img class="zhengxu" id="imgToChange" src="__IMAGES__/zhengxu.svg" />
                    <div class="mulvRightText" id="textToChange" >正序</div>
                </div>
            </div>
            <!--                <div class="chooseMl">-->
            <!--                    <a href="#"><div class="choosePage">0-100</div></a>-->
            <!--                    <a href="#"><div class="choosePage">101-200</div></a>-->
            <!--                    <a href="#"><div class="choosePage">201-300</div></a>-->
            <!--                    <a href="#"><div class="choosePage">300-400</div></a>-->

            <!--                </div>-->
            <div class="mulvPz">
                {volist name="cataloglist" id="index"}
                <a href="/comic/chapter/{$channel}.html?chapter_id={$index['id']}" class="pzList">
                    <div class="pzLeft">{$index['name'] | raw}</div>
                </a>
                {/volist}

            </div>

        </div>

        <!-- 热门推荐 -->
        <div class="nav" style="padding: 0;">
            <div class="left">
                <img class="leftBtn" style="margin-right: 5px;" src="__IMAGES__/rectangle.svg" />
                <div class="leftName">热门推荐</div>
            </div>
            <div class="right">
                <a href="http://google.com"><div class="rightBtn">棋牌游戏</div></a>
                <a href="http://google.com"><div class="rightBtn">强奸迷奸</div></a>
                <a href="http://google.com"><div class="rightBtn">偷拍自拍</div></a>

            </div>
        </div>

        <div class="hotList">
            {volist name="tjlist" id="index"}
            <a href="/comic/detail/{$channel}.html?novel_id={$index['id']}"  class="book">
                <div class="bookImg">
                    <img style="width: 100%;height: 100%;" src="{$index['pic']}" />
                    <img style="position: absolute;
                        top: 0;
                        left: 0;width: 26px;height: 16px;" src="__IMAGES__/lianzai.png" />
                    <div class="bookReadNum">
                        <div class="bookReadNumLeft">
                            <img src="__IMAGES__/book_Open-W.svg" />
                            <span class="view_number" >{$index['eye'] |qqw}</span>
                        </div>
                        <div class="bookReadNumLeft">
                            <img src="__IMAGES__/star-w.svg" />
                            <span class="collect_number" >{$index['shoucang'] |qqw}</span>
                        </div>
                    </div>
                </div>
                <div style="padding: 5px;">
                    <div class="bookName">{$index['title'] | raw}</div>
                    <div class="bookNav">
                        <span>#人妻</span>
                        <span>#乱伦</span>
                    </div>
                    <div style="display: flex; justify-content: space-between;margin-top: 5px;">
                        <div class="bookNum">共{$index['chaptercount']}话</div>
                        <div class="bookTime">
                            <div class="dot" style="opacity: 1;"></div>2小时前
                        </div>
                    </div>
                </div>
            </a>
            {/volist}
        </div>

        <!-- 分页 -->
        <div class="pagination-box">{$page|raw}
        </div>

    </div>


</div>

<script>

</script>
{include file="mobile_footer"}
</body>
<script>

    $(document).ready(function(){
        var view_number_yd = $(".view_number_yd").text();
        var view_number_yd = formatNumber(view_number_yd);
        $('.view_number_yd').text(view_number_yd);
        //收藏数变k
        // var collect_number_yd = $(".collect_number_yd").text();
        // var collect_number_yd = formatNumber(collect_number_yd);
        // $('.collect_number_yd').text(collect_number_yd);


        // var view_number = $(".view_number").text();
        // var view_number = formatNumber(view_number);
        // $('.view_number').text(view_number);
        // //收藏数变k
        // var collect_number = $(".collect_number").text();
        // var collect_number = formatNumber(collect_number);
        // $('.collect_number').text(collect_number);
        //目录点击变亮
        $(".choosePage").click(function(){
            $(".choosePage").removeClass("choosePage_active");
            $(this).addClass("choosePage_active");
            var moveX = $(this).position().left+$(this).parent().scrollLeft();
            var pageX = document.documentElement.clientWidth;
            var blockWidth = $(this).width();
            var left = moveX-(pageX/2)+(blockWidth/2);
            $(".chooseMl").scrollLeft(left);
        });
        //点击正倒序
        $('.mulvTop').click(function() {
            var currentText = $('#textToChange').text();
            if (currentText === "正序") {
                $('#textToChange').text("倒序");
                $('#imgToChange').attr('src', '__IMAGES__/daoxu.svg');
                var container = $('.mulvPz');
                var items = container.find('.pzList');
                items = items.toArray().reverse();
                container.empty();
                $.each(items, function(index, item) {
                    container.append(item);
                });
            } else {
                $('#textToChange').text("正序");
                $('#imgToChange').attr('src', '__IMAGES__/zhengxu.svg');
                var container = $('.mulvPz');
                var items = container.find('.pzList');
                items = items.toArray().reverse();
                container.empty();
                $.each(items, function(index, item) {
                    container.append(item);
                });
            }
        });
    });
    function formatNumber(num) {
        if (num >= 1000) {
            // 使用 Math.round() 确保不会有小数部分
            return Math.round(num / 1000) + 'k';
        }
        return num.toString();
    }
</script>
</html>