{include file="mobile_header" /}
<title>全部题材</title>
<link rel="stylesheet" type="text/css" href="__CSS__/styles.css" />
</head>
<style>
    body{
        font-size:12px!important;
    }
</style>
<body>

<div class="v-s-nav-box-h">
    <div class="logo-box p9">
        <div class="v-s-logo">
            <a href="/{$channel}.html">
                <img src="__IMAGES__/logo.png">
            </a>
        </div>
        <div class="v-s-nav-search-box">
            <a href="/searchhome/{$channel}.html">
                <div class="search-person">
                    <div class="s-text">&#20154;&#22971;</div>
                    <i class="bi bi-search"></i>
                </div>
            </a>
            <a  href="{$tuoyilink}" target="_blank">
            <img class="yjty-img" src="__IMAGES__/yjty.js" alt="" srcset="">
          </a>
          <img class="left-img" src="__IMAGES__/collect-btn.js" alt="" srcset="">
        </div>
    </div>
    <div class="h-textad">
        {volist name='XSudokuTextList' id="XSudokuText"}
        <a class="text-c-1" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank">
            {$XSudokuText['name'] | raw}
        </a>
        {/volist}
    </div>
</div>
<!-- 标题栏bp -->
<div class="v-s-ul-time-vs_442378ea5a0a0b9d99bed43dc146baa0 top-nav pb10">
    <a href="/{$channel}.html">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">
            &#39318;&#39029;
        </div>
    </a>
    <a href="/novel/{$channel}.html" >
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item" style="display:flex;justify-content: center;align-items: center;">
            &#23567;&#35828; <img style="width:22px;height:12px;margin-left:2px;margin-top:1px; " src="__IMAGES__/new.svg">
        </div>
    </a>
    <a href="/comic/{$channel}.html">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item" style="display:flex;justify-content: center;align-items: center;">
            &#28459;&#30011; <img style="width:22px;height:12px;margin-left:2px;margin-top:1px;" src="__IMAGES__/hots.svg">
        </div>
    </a>
    {volist name='menulist' id="menu"}
    <a href="/category/{$channel}.html?category_id={$menu['id']}">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item ">{$menu['title'] | raw}</div>
    </a>
    {/volist}
</div>
{volist name='XTopHFList' id="XTopHF"}
<a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank" >
    <img class="hf-ad-img lozad"
         data-src="{$XTopHF['img'] | raw}"
         src="__IMAGES__/loading_img_bg_default.jpg" alt="">
</a>
{/volist}
<div class="ad-conter ">
    {volist name='XSudokuList' id="XSudoku"}
    <a rel="external nofollow" i="{$XSudoku['id']}" href="{$XSudoku['url'] | raw}" target="_blank">
        <img class="lozad"
             data-src="{$XSudoku['img'] | raw}"
             src="__IMAGES__/loading_img_bg_default.jpg">
        <div>{$XSudoku['name'] | raw}</div>
    </a>
    {/volist}
</div>
<div class="textad pb10">
    {volist name='XTopTextList' id="XSudokuText"}
    <a class="text-c-4" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank">
        {$XSudokuText['name'] | raw}
    </a>
    {/volist}
</div>
{volist name='XTopBannerHFList' id="XTopHF"}
<a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank" >
    <img class="hf-ad-img lozad"
         data-src="{$XTopHF['img'] | raw}"
         src="__IMAGES__/loading_img_bg_default.jpg" alt="">
</a>
{/volist}

<!-- 人气榜 -->
<div class="master">
    <div id="page">
        <!-- 返回栏 -->
        <div class="nav">
            <a href="/comic/{$channel}.html" class="left">
                <img class="leftBtn" src="__IMAGES__/btn_left.svg" />
                <div class="leftName">{$catetitle | raw}</div>
            </a>
            <div class="right" >
                {volist name='XCategoryTitleTextList' id="XSudokuText"}
                <a i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank" class="rightBtn">{$XSudokuText['name'] | raw}</a>
                {/volist}
            </div>
        </div>

        <div class="contentBox">
            <!-- 导航栏 -->
            <div style="    display: flex;
             justify-content: space-between;
             align-items: center;">
                <div class="lableList" >
                    <a  href="/comic/category/{$channel}.html?cid={$cid}&sort=1" class="lable {if condition='$sort eq 1'} lable_active  {/if}" style="width: 64px;margin: 0 5px;" onlick="">更新</a>
                    <a  href="/comic/category/{$channel}.html?cid={$cid}&sort=2" class="lable {if condition='$sort eq 2'} lable_active  {/if}" style="width: 64px;margin: 0 5px;">观看</a>
                    <a  href="/comic/category/{$channel}.html?cid={$cid}&sort=3" class="lable {if condition='$sort eq 3'} lable_active  {/if}" style="width: 64px;margin: 0 5px;">收藏</a>
                </div>
                <div class="sxBtn">
                    <img style="margin-right: 5px;" src="__IMAGES__/slider.svg" />
                    筛选
                </div>

            </div>


            {volist name="novellist" id="index" key="i"}
            <div class="xsBox">
                <!-- 小说1 -->
                <a href="/comic/detail/{$channel}.html?novel_id={$index['id']}" class="contentList">
                    <div class="contentListLeft">
                        <img class="contentCover lozad"   data-src="{$index['enpic'] | raw}" src="__IMAGES__/loading_img_bg_default.jpg" alt="" />

                    </div>
                    <div class="contentRight">
                        <div class="contentName" style="color: #FFFFFFCC;">{$index['title'] | raw}</div>
                        <div class="contentAuthor">
                            <span class="contentNav">作者</span>
                            <span class="contentA">{$index['author']}</span>
                        </div>
                        <div class="contentAuthor">
                            <span class="contentNav">状态</span>

                            {if condition='$index.is_finish == 0'}
                            <span class="contentLz" style="background: linear-gradient(282.53deg, #1D4AFF 64.29%, #00EAFF 95.78%);
">连载</span>
                            {else}
                            <span class="contentLz" style="background: linear-gradient(285.38deg, #00A814 61.2%, #B6FE00 97.69%);
;
">完结</span>
                            {/if}



                        </div>
                        <div class="contentAuthor">
                            <span class="contentNav">最新</span>
                            <span class="contentA fontWeight">更新至{$index['chaptercount']}话</span>
                            <span class="contentA fontWeight">半年前</span>
                        </div>
                        <div class="contentRead">
                            <div class="contentReadBox">
                                <img src="__IMAGES__/book_Open.svg" />
                                阅读 <span class="contentK">{$index['eye'] |qqw}</span>
                            </div>
                            <div class="contentReadBox">
                                <img src="__IMAGES__/star.svg" />
                                收藏<span>{$index['shoucang'] |qqw}</span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            {/volist}

            <!--            <span class="contentLz" style="background: linear-gradient(285.38deg, #00A814 61.2%, #B6FE00 97.69%);-->
            <!--;-->
            <!--">完结</span>-->
            <div class="pagination-box">{$page|raw}
            </div>


        </div>
    </div>
    <!-- 弹窗 -->

    <div class="popupBack"></div>
</div>
<div class="popup " >
    <div class="popupNav">
        <div style="width: 30px;"></div>
        <div class="popupName">筛选</div>
        <img id="closePopup" src="__IMAGES__/close.svg" />
    </div>
    <div class="popupList">
        <div class="pupupTitle">
            <div class="popupTxt">分类</div>
            <div class="popupLableBox">
                {volist name="novelmenulist" id="index"}
                <a  href="/comic/category/1.html?cid={$index['id']}" class="popupLable-author-text {if condition='$cid eq $index.id'} popupLable-author-text-active  {/if}">{$index['title'] | raw}</a>
                {/volist}
            </div>
        </div>
    </div>
    <div class="popupBtnBox">
        <div class="popupBtn">取消</div>
        <div class="popupBtn" style="background:linear-gradient(229.21deg, #FD5B25 15.85%, #F3257E 86.08%);
           ">确定</div>
    </div>

</div>
<script>

</script>
{include file="mobile_footer"}
</body>
<script>
    $(document).ready(function(){
        $(".lable").click(function(){

            $(".lable").removeClass("lable_active");
            $(this).addClass("lable_active");
        });
        $('.sxBtn').click(function() {

            $('.popup').show();
            $('.popupBack').show();
            event.preventDefault();
        });
        $('#closePopup').click(function() {
            $('.popup').hide();
            $('.popupBack').hide();
        });
        $('.popupBack').click(function() {
            $('.popup').hide();
            $('.popupBack').hide();
        });
        //选择作者
        $('.popupLable-author-text').click(function() {
            $(".popupLable-author-text").removeClass("popupLable-author-text-active");
            $(this).addClass("popupLable-author-text-active");
        });
        //选择状态
        $('.popupTxt-status-text').click(function() {

            $(".popupTxt-status-text").removeClass("popupTxt-status-text-active");
            $(this).addClass("popupTxt-status-text-active");
        });
        //选择篇幅
        $('.popupTxt-conetnt-text').click(function() {
            $(".popupTxt-conetnt-text").removeClass("popupTxt-conetnt-text-active");
            $(this).addClass("popupTxt-conetnt-text-active");
        });
        //选择标签
        $('.popupTxt-tag-text').click(function() {
            $(".popupTxt-tag-text").removeClass("popupTxt-tag-text-active");
            $(this).addClass("popupTxt-tag-text-active");
        });
    });

</script>

</script>
</html>