{include file="mobile_header" /}
<title>&#26149;&#33647;&#21830;&#22478;</title>
<style>
    .y-detail-wrap {
        background-color: #d4e9fb;
    }

    .y-load-app-wrap {
        height: 68px;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .y-load-btn {
        height: 46px;
        display: block;
        color: #fff;
        padding: 5px 25px;
        font-size: 18px;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(93.06deg, #46B1FF 9.76%, #2674F5 94.75%);
    }

    .y-load-btn img {
        width: 32px;
    }

    .h80 {
        height: 80px;
    }
    
    .y-detail-container{
        border-radius: 4px;
        border: 1px solid #074995;
        padding: 8px 7px;
        margin:  11px 0;
    }
    .y-detail-w{
        background-color: #074995;
        padding: 4px;
        border-radius: 4px;
    }
    .y-detail-w img {
        border-radius: 4px;
        width: 100%;
        min-height: 215px;
    }
    .y-info-d{
        width: 100%;
        border-radius: 10px;
        background-color: #fff;
        padding: 11px 4px;
        color: #074995;
    }
    .yn{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #A3C4E0;
        padding-bottom: 5px;
        padding-left: 11px;
        padding-right: 11px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
    }
    .yn-n{
        color: #2674F5;
    }
    .pb11{
        padding-bottom: 11px;
    }
    .yn-text{
        padding-left: 11px;
        padding-right: 11px;
    }
    .introduce{
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 15px;
    }
    .introduce1{
        color:  #2674F5;
        padding-bottom: 7px;
    }
    .introduce-text{
        color: #074995;
        padding-bottom: 7px;
    }
    .introduce-container{
        padding: 6px 2px;
    }
    .feedback{
        background-color: #fff;
        border-radius: 10px;
        padding: 11px 1px;
        margin-top: 11px;
    }
    .feedback-t{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 7px;
    }
    .feedback-t .bi-star-fill{
        color: #ff452c;
        font-size: 8px;
    }
    .feedback-n{
        padding-left: 4px;
    }
    .feedback-images{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 4px;
        row-gap: 5px;
    }
    .feedback-images img {
        width: 100%;
        min-height: 101px;
    }
    .feedback-i{
        padding-left: 7px;
        font-size: 13px;
        margin-bottom: 23px;
    }
</style>
</head>

<body>
    <div id="app">
        <div class="y-detail-wrap">
            <div class="nav-title px10">
                <a href="">
                    <i class="bi bi-chevron-left back-btn"></i>
                </a>
                <div>&#26149;&#33647;&#21830;&#22478;</div>
                <div></div>
            </div>
            <div class="px10 pb11">
                <div class="y-detail-container">
                    <div class="y-detail-w">
                        <img class="lozad w-full"
                        data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                        src="__IMAGES__/loading_img_bg_default.jpg">
                    </div>
                </div>
                <div class="y-info-d">
                    <div class="yn">
                        <div class="yn-n">猎艳</div>
                        <div  class="yn-number">编号：A1</div>
                    </div>
                    <div class="yn-text">因为此药在体 内代谢极快，被誉为“奸人手无形”“强奸不犯法”由于查不出任何证...</div>
                </div>
                <div class="y-detail-container">
                    <div class="y-detail-w introduce-container">
                        <div class="introduce">
                            <div class="introduce1">产品介绍</div>
                            <div class="introduce-text">《猎艳》全新版本升级，无色无味，昏睡，失忆，无意识，秒杀同类所有产品。新版东京热，强势来袭，服用20分钟后自然睡眠，如同深度酒醉状态，零防范，零意识，下体松弛，任你摆布，且事后无记忆，无意识，（建议啤酒使用，主要做好善后工作，属丝勿扰）本产品是无色无味的开山鼻祖，效果其强大不言而喻，见效快，无副作用。百分百保证效果，其余皆为假冒伪劣产品）注意事项，未成年女性禁止使用。空腹或饭后两小时使用效果最佳。</div>
                            <div class="introduce1">产品规格</div>
                            <div class="introduce-text">一盒四瓶，一瓶30ml（毫升）使用方法</div>
                            <div class="introduce1">使用方法</div>
                            <div class="introduce-text">3—5ml溶于任何液体中即可！</div>
                        </div>
                    </div>
                </div>
                <div class="y-wrap">
                    <div class="flex-center">
                        <img class="y-title-i" src="__IMAGES__/y4-title.png" alt="" srcset="">
                    </div>
                </div>
                <div class="feedback">
                        <div class="feedback-t">
                            <div class="feedback-n">dl***ab</div>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="feedback-i">
                            大学美女教师，有文化还是照样拿下，气质这方面没的说
                        </div>
                        <div class="feedback-images">
                            <img class="lozad w-full"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg">  
                            <img class="lozad w-full"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg">  
                            <img class="lozad w-full"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg">  
                            <img class="lozad w-full"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg">  
                            <img class="lozad w-full"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg">  
                        </div>
                </div>
                <div class="h80"></div>
            </div>
            <div class="y-load-app-wrap">
                <a class="y-load-btn" href="" i="" target="_blank">
                    <img src="__IMAGES__/d-load.svg" alt="">
                    <span>&#19979;&#36733;&#65;&#80;&#80;&#36141;&#20080;</span>
                </a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            createdS('#swiper-y', {
                loop: !0,
                autoplay: !0,
                observer: !0,
            })
        })
    </script>
    {include file="mobile_footer"}
</body>

</html>