{include file="mobile_header" /}
<title>&#26149;&#33647;&#21830;&#22478;</title>
<style>
    #swiper-y img {
        width: 100%;
        min-height: 218px;
    }

    .y-info-wrap {  
        background-color: #fff;
    }

    .marquee-wrap {
        background-color: #fff;
    }

    .y-xl-title {
        padding: 0 10px;
    }

    .y-xl-title img,
    .y-menu-wrap img {
        width: 100%;
    }

    .y-menu-wrap {
        padding: 0 9px;
        margin-top: 12px;
    }

    .y-load-app-wrap {
        height: 68px;
        position: fixed;
        bottom: 0;
        z-index: 10;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .y-load-btn {
        height: 46px;
        display: block;
        color: #fff;
        padding: 5px 25px;
        font-size: 18px;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(93.06deg, #46B1FF 9.76%, #2674F5 94.75%);
    }

    .y-load-btn img {
        width: 32px;
    }

    .h80 {
        height: 80px;
    }
</style>
</head>

<body>
    <div id="app">
        <div class="nav-title px10">
            <a href="/{$channel}.html">
                <i class="bi bi-chevron-left back-btn"></i>
            </a>
            <div>&#26149;&#33647;&#21830;&#22478;</div>
            <div></div>
        </div>
        {notempty name="$NavBannerList"}
        <div id="swiper-banner" class="swiper">
            <div class="swiper-wrapper">
                {volist name='NavBannerList' id="NavBanner"}
                <div class="swiper-slide">
                    <a rel="external nofollow" i="{$NavBanner['id']}" href="{$NavBanner['url']}">
                        <img class="lozad" data-src="{$NavBanner['img']}" src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg">
                    </a>
                </div>
                {/volist}
            </div>
        </div>
        {/notempty}
        <div class="marquee-wrap">
            <div class="marquee-box">
                <div class="icon-speaker">
                    <img src="__IMAGES__/fill-icon.svg" alt="" srcset="">
                </div>
                <div class="container-main">
                    <p>&#26816;&#27979;&#21040;&#24403;&#21069;&#27983;&#35272;&#22120;&#24050;&#25318;&#25130;&#26412;&#31449;&#37096;&#20998;&#33394;&#24773;APP&#65292;&#22914;APP&#22270;&#26631;&#26080;&#27861;&#28857;&#20987;&#65292;&#35831;&#22797;&#21046;&#32593;&#22336;&#23581;&#35797;&#19981;&#21516;&#27983;&#35272;&#22120;
                    </p>
                </div>
            </div>
        </div>
        <div class="py11 y-info-wrap">
            <div class="y-xl-title">
                <img src="__IMAGES__/y-xl.png" alt="">
            </div>
            <div class="y-menu-wrap">
                <img src="__IMAGES__/y-menu.png" alt="">
            </div>
            <div class="px10">
                
                <div class="outside relative">
                    <div class="y-wrap">
                        <div class="flex-center">
                            <img class="y-title-i" src="__IMAGES__/y1-title.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="y-conter">
                        {volist name='NavHotMedicineList' id="NavHotMedicine" key="index"}
                        {if condition="$index == 1 or $index == 2"}
                        <a class="y-item" i="{$NavHotMedicine['id']}" href="{$NavHotMedicine['url']}"
                           target="_blank">
                            <div class="y-item-1">
                                <div>
                                    <img class="lozad" data-src="{$NavHotMedicine['img']}"
                                         src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg" alt="">
                                </div>
                                <div class="y-h-title flex-space-between">
                                    <div class="y-name">{if isset($NavHotMedicine['names'][0])}
                                        {$NavHotMedicine['names'][0] | raw} {/if}</div>
                                    <div class="y-no">编号：{if isset($NavHotMedicine['names'][1])}
                                        {$NavHotMedicine['names'][1] | raw} {/if}</div>
                                </div>
                                <div class="y-text">{if isset($NavHotMedicine['names'][2])}
                                    {$NavHotMedicine['names'][2] | raw} {/if}</div>
                            </div>
                            <div class="y-info-btn" href="">&#26597;&#30475;&#35814;&#24773;</div>
                        </a>
                        {/if}
                        {/volist}
                    </div>
                </div>
                
                <div class="outside relative">
                    <div class="y-wrap">
                        <div class="flex-center">
                            <img class="y-title-i" src="__IMAGES__/y2-title.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="y-conter">
                        {volist name='NavHotMedicineList' id="NavHotMedicine" key="index"}
                        {if condition="$index == 3 or $index == 4"}
                        <a class="y-item" i="{$NavHotMedicine['id']}" href="{$NavHotMedicine['url']}"
                           target="_blank">
                            <div class="y-item-1">
                                <div>
                                    <img class="lozad" data-src="{$NavHotMedicine['img']}"
                                         src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg" alt="">
                                </div>
                                <div class="y-h-title flex-space-between">
                                    <div class="y-name">{if isset($NavHotMedicine['names'][0])}
                                        {$NavHotMedicine['names'][0] | raw} {/if}</div>
                                    <div class="y-no">编号：{if isset($NavHotMedicine['names'][1])}
                                        {$NavHotMedicine['names'][1] | raw} {/if}</div>
                                </div>
                                <div class="y-text">{if isset($NavHotMedicine['names'][2])}
                                    {$NavHotMedicine['names'][2] | raw} {/if}</div>
                            </div>
                            <div class="y-info-btn" href="">&#26597;&#30475;&#35814;&#24773;</div>
                        </a>
                        {/if}
                        {/volist}
                    </div>
                </div>
               
                <div class="outside relative">
                    <div class="y-wrap">
                        <div class="flex-center">
                            <img class="y-title-i" src="__IMAGES__/y3-title.png" alt="" srcset="">
                        </div>
                    </div>
                    <div class="y-conter">
                        {volist name='NavHotMedicineList' id="NavHotMedicine" key="index"}
                        {if condition="$index == 5 or $index == 6"}
                        <a class="y-item" i="{$NavHotMedicine['id']}" href="{$NavHotMedicine['url']}"
                           target="_blank">
                            <div class="y-item-1">
                                <div>
                                    <img class="lozad" data-src="{$NavHotMedicine['img']}"
                                         src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg" alt="">
                                </div>
                                <div class="y-h-title flex-space-between">
                                    <div class="y-name">{if isset($NavHotMedicine['names'][0])}
                                        {$NavHotMedicine['names'][0] | raw} {/if}</div>
                                    <div class="y-no">编号：{if isset($NavHotMedicine['names'][1])}
                                        {$NavHotMedicine['names'][1] | raw} {/if}</div>
                                </div>
                                <div class="y-text">{if isset($NavHotMedicine['names'][2])}
                                    {$NavHotMedicine['names'][2] | raw} {/if}</div>
                            </div>
                            <div class="y-info-btn" href="">&#26597;&#30475;&#35814;&#24773;</div>
                        </a>
                        {/if}
                        {/volist}
                    </div>
                </div>
            </div>
            <div class="h80"></div>
        </div>
<!--        <div class="y-load-app-wrap">-->
<!--            <a class="y-load-btn" href="" i="" target="_blank">-->
<!--                <img src="__IMAGES__/d-load.svg" alt="">-->
<!--                <span>&#19979;&#36733;&#65;&#80;&#80;&#36141;&#20080;</span>-->
<!--            </a>-->
<!--        </div>-->
    </div>
   
    <script>
        $(document).ready(function () {
            createdS('#swiper-y', {
                loop: !0,
                autoplay: !0,
                observer: !0,
            })
        })
    </script>
    {include file="mobile_footer"}
</body>

</html>