{include file="mobile_header" /}
<title></title>
<style>
  .jx-img {
    width: 100vw;
    min-height: 196px;
    max-height: 196px;
  }
</style>
</head>

<body>
  <div id="app">
    <div class="v-s-nav-box-h">
      <div class="logo-box p9">
        <div class="v-s-logo">
          <a href="/{$channel}.html">
            <img src="__IMAGES__/logo.png">
          </a>
        </div>
        <div class="v-s-nav-search-box">
          <a href="/searchhome/{$channel}.html">
            <div class="search-person">
              <div class="s-text">&#20154;&#22971;</div>
              <i class="bi bi-search"></i>
            </div>
          </a>
          <img class="left-img" src="__IMAGES__/collect-btn.png" alt="" srcset="">
          <!-- <div class="d-load-btn">
            <img src="__IMAGES__/d-load.svg" alt="">
            <span>&#19979;&#36733;&#65;&#80;&#80;</span>
          </div> -->
        </div>
      </div>
      <div class="h-textad">
        {volist name='XSudokuTextList' id="XSudokuText"}
        <a class="text-c-1" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
          {$XSudokuText['name'] | raw}
        </a>
        {/volist}
      </div>
    </div>
    <!-- 标题栏bp -->
    <div class="v-s-ul-time-vs_442378ea5a0a0b9d99bed43dc146baa0 top-nav">
      <a href="/featured/{$channel}.html">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item nav-menu-selected">&#39318;&#39029;
        </div>
      </a>
      <a href="/{$channel}.html">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">&#23548;&#33322;</div>
      </a>
      {volist name='menulist' id="menu"}
      <a href="/category/{$channel}.html?category_id={$menu['id']}">
        <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">{$menu['title'] | raw}</div>
      </a>
      {/volist}
    </div>

    {volist name='XTopHFList' id="XTopHF"}
    <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
      <img class="hf-ad-img lozad"
        data-src="{$XTopHF['img']}"
        src="__IMAGES__/loading_img_bg_default.jpg" alt="">
    </a>
    {/volist}

    <div class="ad-conter">
      {volist name='XSudokuList' id="XSudoku"}
      <a rel="external nofollow" i="{$XSudoku['id']}" href="{$XSudoku['url']}" target="_blank">
        <img class="lozad"
          data-src="{$XSudoku['img']}"
          src="__IMAGES__/loading_img_bg_default.jpg">
        <div>{$XSudoku['name'] | raw}</div>
      </a>
      {/volist}
    </div>
    <div class="textad">
      {volist name='XSudokuTextList' id="XSudokuText"}
      <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
        {$XSudokuText['name'] | raw}
      </a>
      {/volist}
    </div>
    {volist name='XMiddleHFList' id="XTopHF"}
    <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
      <img class="hf-ad-img lozad"
           data-src="{$XTopHF['img']}"
           src="__IMAGES__/loading_img_bg_default.jpg" alt="">
    </a>
    {/volist}
    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#20170;&#26085;&#25512;&#33616;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-1">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=40">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-1">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$yuanclist[0]['category_id']}&category_child_id={$yuanclist[0]['category_child_id']}&vid={$yuanclist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
              data-src="{$yuanclist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$yuanclist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$yuanclist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$yuanclist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="text-c-3" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="yuanclist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
              data-src="{$XVideoListInsert['img']}"
              src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>

        <div class="video-g-list">
          {volist name="yuanclist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>

      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=40"><div>加载更多</div></a>
    </div>
    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#20599;&#25293;&#33258;&#25293;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=12">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$pxlist[0]['category_id']}&category_child_id={$pxlist[0]['category_child_id']}&vid={$pxlist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$pxlist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$pxlist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$pxlist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$pxlist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="pxlist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="pxlist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
      
      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=12"><div>加载更多</div></a>
    </div>


    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#21507;&#29916;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=1">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$chigualist[0]['category_id']}&category_child_id={$chigualist[0]['category_child_id']}&vid={$chigualist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$chigualist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$chigualist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$chigualist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$chigualist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="chigualist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="chigualist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=1"><div>加载更多</div></a>
    </div>

    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#22269;&#20135;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=2">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$guochanlist[0]['category_id']}&category_child_id={$guochanlist[0]['category_child_id']}&vid={$guochanlist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$guochanlist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$guochanlist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$guochanlist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$guochanlist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="guochanlist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="guochanlist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=2"><div>加载更多</div></a>
    </div>

    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#26085;&#38889;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=3">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$rihanlist[0]['category_id']}&category_child_id={$rihanlist[0]['category_child_id']}&vid={$rihanlist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$rihanlist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$rihanlist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$rihanlist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$rihanlist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="rihanlist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="rihanlist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=3"><div>加载更多</div></a>
    </div>


    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#27431;&#32654;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=4">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$oumeilist[0]['category_id']}&category_child_id={$oumeilist[0]['category_child_id']}&vid={$oumeilist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$oumeilist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$oumeilist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$oumeilist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$oumeilist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="oumeilist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="oumeilist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=4"><div>加载更多</div></a>
    </div>


    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#21160;&#28459;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=5">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$dongmanlist[0]['category_id']}&category_child_id={$dongmanlist[0]['category_child_id']}&vid={$dongmanlist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$dongmanlist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$dongmanlist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$dongmanlist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$dongmanlist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="dongmanlist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="dongmanlist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=5"><div>加载更多</div></a>
    </div>


    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#65;&#73;&#25442;&#33080;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=6">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$ailist[0]['category_id']}&category_child_id={$ailist[0]['category_child_id']}&vid={$ailist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$ailist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$ailist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$ailist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$ailist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="ailist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="ailist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=6"><div>加载更多</div></a>
    </div>


    <div class="vidoe-title-1 pt0">
      <div class="flex-center video-title-wrap">
        <span class="video-title-text">&#65;&#86;&#35299;&#35828;</span>
      </div>
      <div class="video-fun">
        <div class="change-video" data-class="video-g-2">
          <i class="bi bi-arrow-clockwise"></i>
          <span>换一批</span>
        </div>
        <a class="video-more" href="/category/{$channel}.html?category_id=8">
          <span>更多</span>
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="video-g-wrap video-g-2">
        <a class="first-video" href="/videoplay/{$channel}.html?category_id={$jieshuolist[0]['category_id']}&category_child_id={$jieshuolist[0]['category_child_id']}&vid={$jieshuolist[0]['id']}">
          <div class="video-cover-wrap">
            <img class="pre-img lozad" loading="lazy" src="__IMAGES__/loading_img_bg_default.jpg"
                 data-src="{$jieshuolist[0]['enpic']}" />
            <div class="mask_info">
              <div class="flex-space-between">
                <div class="pre-eye">
                  <i class="bi bi-eye"></i>
                  <span>{$jieshuolist[0]['eye']|qqw}</span>
                </div>
                <div class="pre-time">
                  <i class="bi bi-clock"></i>
                  <span>{$jieshuolist[0]['time']}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="rank-title">{$jieshuolist[0]['title'] | raw}</div>
        </a>
        <div class="textad">
          {volist name='XSudokuTextList' id="XSudokuText"}
          <a class="" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url']}" target="_blank">
            {$XSudokuText['name'] | raw}
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="jieshuolist" id="yc" key="index"}
          {if condition="$index > 1 && $index <=3"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>
        <div class="ad-g-list">
          {volist name="XVideoListInsertList" id="XVideoListInsert"}
          <a rel="external nofollow" i="{$XVideoListInsert['id']}" href="{$XVideoListInsert['url']}" target="_blank">
            <img class="lozad pre-img"
                 data-src="{$XVideoListInsert['img']}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div class="rank-title">{$XVideoListInsert['name'] | raw}</div>
          </a>
          {/volist}
        </div>
        <div class="video-g-list">
          {volist name="jieshuolist" id="yc" key="index"}
          {if condition="$index > 3 && $index <=5"}
          <a class="other-video" href="/videoplay/{$channel}.html?category_id={$yc['category_id']}&category_child_id={$yc['category_child_id']}&vid={$yc['id']}">
            <div class="video-cover-wrap">
              <img class="pre-img lozad" loading="lazy" src="/static/images/loading_img_bg_default.jpg"
                   data-src="{$yc['enpic']}" />
              <div class="mask_info">
                <div class="flex-space-between">
                  <div class="pre-eye">
                    <i class="bi bi-eye"></i>
                    <span>{$yc['eye']|qqw}</span>
                  </div>
                  <div class="pre-time">
                    <i class="bi bi-clock"></i>
                    <span>{$yc['time']}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="rank-title">{$yc['title'] | raw}</div>
          </a>
          {/if}
          {/volist}
        </div>

      </div>
      {volist name='XBottomHFList' id="XTopHF"}
      <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url']}" target="_blank">
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img']}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
      </a>
      {/volist}
      <a class="more-video-btn" href="/category/{$channel}.html?category_id=8"><div>加载更多</div></a>
    </div>



  </div>
  <script>
    createdS('#swiper-jx', {
      loop: !0,
      autoplay: !0,
      observer: !0,
      slidesPerView: 'auto',
    })
  </script>
  {include file="mobile_footer"}
</body>

</html>