{include file="mobile_header" /}
</head>

<body>
    <div id="app">
        <div class="v-s-nav-box-h">
            <div class="logo-box p9">
                <div class="v-s-logo">
                    <a href="/{$channel}.html">
                        <img src="__IMAGES__/logo.png">
                    </a>
                </div>
                <div class="v-s-nav-search-box">
                    <a href="/searchhome/{$channel}.html">
                        <div class="search-person">
                            <div class="s-text">&#20154;&#22971;</div>
                            <i class="bi bi-search"></i>
                        </div>
                    </a>
                    <img class="left-img" src="__IMAGES__/collect-btn.png" alt="" srcset="">
                </div>
            </div>
            <div class="h-textad">
                {volist name='XSudokuTextList' id="NavSudokuMiddleText"}
                <a class="text-c-2" rel="external nofollow" i="{$NavSudokuMiddleText['id']}" href="{$NavSudokuMiddleText['url'] | raw}" target="_blank">
                    {$NavSudokuMiddleText['name'] | raw}
                </a>
                {/volist}
            </div>
        </div>
        <!-- 标题栏bp -->
        <div class="v-s-ul-time-vs_442378ea5a0a0b9d99bed43dc146baa0 top-nav pb10">
            <a href="/{$channel}.html">
                <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">
                    &#39318;&#39029;
                </div>
            </a>
            <a href="/nav/{$channel}.html">
                <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">&#23548;&#33322;</div>
            </a>
            {volist name='menulist' id="menu" key="index"}
            {if condition="$index > 1 && $index <=4"}
            <a href="/category/{$channel}.html?category_id={$menu['id']}">
                <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item ">{$menu['title'] | raw}</div>
            </a>
            {/if}
            {/volist}
        </div>
        {volist name='XTopHFList' id="NavTopHF"}
        <a class="hf-ad" rel="external nofollow" i="{$NavTopHF['id']}" href="{$NavTopHF['url'] | raw}" target="_blank">
            <img class="hf-ad-img lozad"
                data-src="{$NavTopHF['img']}"
                src="__IMAGES__/loading_img_bg_default.jpg" alt="">
        </a>
        {/volist}
        <div>
            <div class="ad-menu-wrap">
                <div class="ad-menu-item active">
                    <img class="menu-img" src="{$jscsscdn}__IMAGES__/rmjp-menu.png" alt="" srcset="">

                </div>
                <div class="ad-menu-item">
                    <img class="menu-img" src="{$jscsscdn}__IMAGES__/cryy-menu.png" alt="" srcset="">
                </div>
                <div class="ad-menu-item">
                    <img class="menu-img" src="{$jscsscdn}__IMAGES__/tyqp-menu.png" alt="" srcset="">
                </div>
            </div>
            <div class="conter-wrap">
                <div id="swiper-ad" class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ad-conter">
                                {volist name='NavHotSudokuList' id="NavHotSudoku"}
                                <a rel="external nofollow" i="{$NavHotSudoku['id']}" href="{$NavHotSudoku['url'] | raw}"
                                    target="_blank">
                                    <img class="lozad" data-src="{$NavHotSudoku['img']}"
                                        src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg">
                                    <div>{$NavHotSudoku['name'] | raw}</div>
                                </a>
                                {/volist}
                            </div>
                            <div class="live-title-1 pt0">
                                <div class="flex-center live-title-wrap">
                                    <span class="live-title-text">&#30452;&#25773;&#19987;&#21306;</span>
                                </div>
                                <div class="live-fun">
                                    
                                </div>
                            </div>
                            <div class="live-g-1 live-wrap">
                                {volist name='NavHotLiveList' id="NavHotLive" key="index"}
                                <a i="{$NavHotLive['id']}" href="{$NavHotLive['url'] | raw}"
                                    target="_blank" class="live-item relative">
                                    <img class="hot-icon" src="__IMAGES__/hot-icon.svg" alt="" srcset="">
                                    <div class="center-icon">
                                        <img class="play-icon" src="__IMAGES__/play-icon.svg" alt=""
                                            srcset="">
                                    </div>
                                    <img class="live-item-img lozad"
                                        data-src="{$NavHotLive['img']}"
                                        src="__IMAGES__/loading_img_bg_default.jpg" alt="" srcset="">
                                    <div class="bt-info">
                                        <div class="bt-info-left">
                                            <div class="dian"></div>
                                            <div class="online-num">{$NavHotLive['yueNum']}</div>
                                            <div class="inner">&#20154;&#22312;&#32447;</div>
                                        </div>
                                        <div>
                                            <img src="{$jscsscdn}__IMAGES__/gifzhibo.gif" alt=""
                                                srcset="">&#30452;&#25773;&#20013;
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="friends-title-1 pt0">
                                <div class="flex-center friends-title-wrap">
                                    <span class="friends-title-text">&#21516;&#22478;&#20132;&#21451;</span>
                                </div>
                                <div class="friends-fun">
                                    
                                </div>
                            </div>
                            <div class="friends-g-1 friends-wrap">
                                {volist name='NavHotHookupList' id="NavHotHookup" key="index"}
                                <a i="{$NavHotHookup['id']}" href="{$NavHotHookup['url'] | raw}" target="_blank" class="friends-item ">
                                <div class="friends-item-left">
                                    <img class="friends-item-img lozad"
                                    data-src="{$NavHotHookup['img']}"
                                    src="__IMAGES__/loading_img_bg_default.jpg" alt="" srcset="">
                                    <div class="friends-status">
                                        <div class="dian"></div>
                                        <span>空闲</span>
                                    </div>
                                </div>
                                <div class="friends-item-right">
                                    <img class="yh-icon" src="__IMAGES__/yh-icon.svg" alt="" srcset="">
                                   <div class="friends-info">
                                    <span class="subtitle">{if isset($NavHotHookup['names'][0])} {$NavHotHookup['names'][0] | raw} {/if}</span> 
                                    <div class="measurements">{if isset($NavHotHookup['names'][1])} {$NavHotHookup['names'][1] | raw} {/if}</div>
                                </div>
                                   <div class="friends-info1">
                                    <div class="like1-wrap">
                                        <img class="like1-icon" src="__IMAGES__/like1-icon.svg" alt="" srcset="">
                                        <span>{$NavHotHookup['yueNum']}人喜欢</span>
                                    </div>
                                    <div class="adss-wrap">
                                        <img class="adss-icon" src="__IMAGES__/adss-icon.svg" alt="" srcset="">
                                        <span>附近{$NavHotHookup['juli']}M</span>
                                    </div>
                                   </div>
                                   <div><span class="subtitle">价格</span> <span>{if isset($NavHotHookup['names'][2])} {$NavHotHookup['names'][2] | raw} {/if}</span></div>
                                   <div><span class="subtitle">服务</span> <span>{if isset($NavHotHookup['names'][3])} {$NavHotHookup['names'][3] | raw} {/if}</span></div>
                                </div>
                               </a>
                                {/volist}
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ad-conter">
                                {volist name='NavCinemaSudokuList' id="NavCinemaSudoku"}
                                <a rel="external nofollow" i="{$NavCinemaSudoku['id']}" href="{$NavCinemaSudoku['url'] | raw}"
                                    target="_blank">
                                    <img class="lozad" data-src="{$NavCinemaSudoku['img']}"
                                        src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg">
                                    <div>{$NavCinemaSudoku['name'] | raw}</div>
                                </a>
                                {/volist}
                            </div>

                            <div class="live-title-1 pt0">
                                <div class="flex-center live-title-wrap">
                                    <span class="live-title-text">&#30452;&#25773;&#19987;&#21306;</span>
                                </div>
                                <div class="live-fun">
                                </div>
                            </div>
                            <div class="live-g-2 live-wrap">
                                {volist name='NavCinemaLiveList' id="NavHotLive" key="index"}
                                <a i="{$NavHotLive['id']}" href="{$NavHotLive['url'] | raw}"
                                   target="_blank" class="live-item relative">
                                    <img class="hot-icon" src="__IMAGES__/hot-icon.svg" alt="" srcset="">
                                    <div class="center-icon">
                                        <img class="play-icon" src="__IMAGES__/play-icon.svg" alt=""
                                             srcset="">
                                    </div>
                                    <img class="live-item-img lozad"
                                         data-src="{$NavHotLive['img']}"
                                         src="__IMAGES__/loading_img_bg_default.jpg" alt="" srcset="">
                                    <div class="bt-info">
                                        <div class="bt-info-left">
                                            <div class="dian"></div>
                                            <div class="online-num">{$NavHotLive['yueNum']}</div>
                                            <div class="inner">&#20154;&#22312;&#32447;</div>
                                        </div>
                                        <div>
                                            <img src="{$jscsscdn}__IMAGES__/gifzhibo.gif" alt=""
                                                 srcset="">&#30452;&#25773;&#20013;
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="friends-title-1 pt0">
                                <div class="flex-center friends-title-wrap">
                                    <span class="friends-title-text">&#21516;&#22478;&#20132;&#21451;</span>
                                </div>
                                <div class="friends-fun">
                                </div>
                            </div>
                            <div class="friends-g-2 friends-wrap">
                                {volist name='NavCinemaHookupList' id="NavHotHookup" key="index"}
                                <a i="{$NavHotHookup['id']}" href="{$NavHotHookup['url'] | raw}" target="_blank" class="friends-item ">
                                    <div class="friends-item-left">
                                        <img class="friends-item-img lozad"
                                             data-src="{$NavHotHookup['img']}"
                                             src="__IMAGES__/loading_img_bg_default.jpg" alt="" srcset="">
                                        <div class="friends-status">
                                            <div class="dian"></div>
                                            <span>空闲</span>
                                        </div>
                                    </div>
                                    <div class="friends-item-right">
                                        <img class="yh-icon" src="__IMAGES__/yh-icon.svg" alt="" srcset="">
                                        <div class="friends-info">
                                            <span class="subtitle">{if isset($NavHotHookup['names'][0])} {$NavHotHookup['names'][0] | raw} {/if}</span>
                                             <div class="measurements">{if isset($NavHotHookup['names'][1])} {$NavHotHookup['names'][1] | raw} {/if}</div>
                                        </div>
                                        <div class="friends-info1">
                                            <div class="like1-wrap">
                                                <img class="like1-icon" src="__IMAGES__/like1-icon.svg" alt="" srcset="">
                                                <span>{$NavHotHookup['yueNum']}人喜欢</span>
                                            </div>
                                            <div class="adss-wrap">
                                                <img class="adss-icon" src="__IMAGES__/adss-icon.svg" alt="" srcset="">
                                                <span>附近{$NavHotHookup['juli']}M</span>
                                            </div>
                                        </div>
                                        <div><span class="subtitle">价格</span> <span>{if isset($NavHotHookup['names'][2])} {$NavHotHookup['names'][2] | raw} {/if}</span></div>
                                        <div><span class="subtitle">服务</span> <span>{if isset($NavHotHookup['names'][3])} {$NavHotHookup['names'][3] | raw} {/if}</span></div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ad-conter">
                                {volist name='NavBCSudokuList' id="NavBCSudoku"}
                                <a rel="external nofollow" i="{$NavBCSudoku['id']}" href="{$NavBCSudoku['url'] | raw}"
                                    target="_blank">
                                    <img class="lozad" data-src="{$NavBCSudoku['img']}"
                                        src="{$jscsscdn}__IMAGES__/loading_img_bg_default.jpg">
                                    <div>{$NavBCSudoku['name'] | raw}</div>
                                </a>
                                {/volist}
                            </div>
                            <div class="live-title-1 pt0">
                                <div class="flex-center live-title-wrap">
                                    <span class="live-title-text">&#30452;&#25773;&#19987;&#21306;</span>
                                </div>
                                <div class="live-fun">
                                </div>
                            </div>
                            <div class="live-g-3 live-wrap">
                                {volist name='NavBCLiveList' id="NavHotLive" key="index"}
                                <a i="{$NavHotLive['id']}" href="{$NavHotLive['url'] | raw}"
                                   target="_blank" class="live-item relative">
                                    <img class="hot-icon" src="__IMAGES__/hot-icon.svg" alt="" srcset="">
                                    <div class="center-icon">
                                        <img class="play-icon" src="__IMAGES__/play-icon.svg" alt=""
                                             srcset="">
                                    </div>
                                    <img class="live-item-img lozad"
                                         data-src="{$NavHotLive['img']}"
                                         src="__IMAGES__/loading_img_bg_default.jpg" alt="" srcset="">
                                    <div class="bt-info">
                                        <div class="bt-info-left">
                                            <div class="dian"></div>
                                            <div class="online-num">{$NavHotLive['yueNum']}</div>
                                            <div class="inner">&#20154;&#22312;&#32447;</div>
                                        </div>
                                        <div>
                                            <img src="{$jscsscdn}__IMAGES__/gifzhibo.gif" alt=""
                                                 srcset="">&#30452;&#25773;&#20013;
                                        </div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                            <div class="friends-title-1 pt0">
                                <div class="flex-center friends-title-wrap">
                                    <span class="friends-title-text">&#21516;&#22478;&#20132;&#21451;</span>
                                </div>
                                <div class="friends-fun">
                                   
                                </div>
                            </div>
                            <div class="friends-g-3 friends-wrap">
                                {volist name='NavBCHookupList' id="NavHotHookup" key="index"}
                                <a i="{$NavHotHookup['id']}" href="{$NavHotHookup['url'] | raw}" target="_blank" class="friends-item ">
                                    <div class="friends-item-left">
                                        <img class="friends-item-img lozad"
                                             data-src="{$NavHotHookup['img']}"
                                             src="__IMAGES__/loading_img_bg_default.jpg" alt="" srcset="">
                                        <div class="friends-status">
                                            <div class="dian"></div>
                                            <span>空闲</span>
                                        </div>
                                    </div>
                                    <div class="friends-item-right">
                                        <img class="yh-icon" src="__IMAGES__/yh-icon.svg" alt="" srcset="">
                                        <div class="friends-info">
                                            <span class="subtitle">{if isset($NavHotHookup['names'][0])} {$NavHotHookup['names'][0] | raw} {/if}</span>
                                            <div class="measurements">{if isset($NavHotHookup['names'][1])} {$NavHotHookup['names'][1] | raw} {/if}</div>
                                        </div>
                                        <div class="friends-info1">
                                            <div class="like1-wrap">
                                                <img class="like1-icon" src="__IMAGES__/like1-icon.svg" alt="" srcset="">
                                                <span>{$NavHotHookup['yueNum']}人喜欢</span>
                                            </div>
                                            <div class="adss-wrap">
                                                <img class="adss-icon" src="__IMAGES__/adss-icon.svg" alt="" srcset="">
                                                <span>附近{$NavHotHookup['juli']}M</span>
                                            </div>
                                        </div>
                                        <div><span class="subtitle">价格</span> <span>{if isset($NavHotHookup['names'][2])} {$NavHotHookup['names'][2] | raw} {/if}</span></div>
                                        <div><span class="subtitle">服务</span> <span>{if isset($NavHotHookup['names'][3])} {$NavHotHookup['names'][3] | raw} {/if}</span></div>
                                    </div>
                                </a>
                                {/volist}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    {include file="mobile_footer"}
</body>

</html>