{include file="mobile_header" /}
<title>&#30452;&#25773;&#20013;&#24515;</title>
</head>

<body>
    <div class="nav-title px10">
        <a href="/5.html">
            <i class="bi bi-chevron-left"></i>
        </a>
        <div>&#30452;&#25773;&#20013;&#24515;</div>
        <div></div>
    </div>
    <div class="px10 py11">
        <div class="pb23 grid-cols-2 gap7">
            <a class="relative bolck live-item" i="" href="" target="_blank">
                <img class="live-img lozad"
                    data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                    src="__IMAGES__/loading_img_bg_default.jpg" alt="">
                <div class="absolute bottom75 flex-center w-full">
                    <div class="live-bg flex-center">
                        <div class="loading-container">
                            <div class="loading-bar"></div>
                            <div class="loading-bar"></div>
                            <div class="loading-bar"></div>
                        </div>
                        <div>&#36827;&#20837;&#30452;&#25773;&#38388;</div>
                    </div>
                </div>
                <div class="absolute bottom0 px7 flex-space-between w-full py5">
                    <div>
                        <img class="avatar lozad"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg" alt="">
                        <span>小九儿</span>
                    </div>
                    <div>
                        <img src="__IMAGES__/hot.svg" alt="">
                        <span>236</span>
                    </div>
                </div>
            </a>
            <a class="relative bolck live-item" i="" href="" target="_blank">
                <img class="live-img lozad"
                    data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                    src="__IMAGES__/loading_img_bg_default.jpg" alt="">
                <div class="absolute bottom75 flex-center w-full">
                    <div class="live-bg flex-center">
                        <div class="loading-container">
                            <div class="loading-bar"></div>
                            <div class="loading-bar"></div>
                            <div class="loading-bar"></div>
                        </div>
                        <div>&#36827;&#20837;&#30452;&#25773;&#38388;</div>
                    </div>
                </div>
                <div class="absolute bottom0 px7 flex-space-between w-full py5">
                    <div>
                        <img class="avatar lozad"
                            data-src="https://axkr2tx.xn--vhqqb9tu5puzbh4d4wb1yo982d2jdfq3e.com/upload/20240207/b40d7c66e47a54f0a72eb748310f7ac1_file.gif"
                            src="__IMAGES__/loading_img_bg_default.jpg" alt="">
                        <span>小九儿</span>
                    </div>
                    <div>
                        <img src="__IMAGES__/hot.svg" alt="">
                        <span>236</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    {include file="mobile_footer"}
</body>

</html>