{include file="mobile_header" /}
<title>小说首页</title>
<link rel="stylesheet" type="text/css" href="__CSS__/styles.css" />
</head>
<body >
    <div class="v-s-nav-box-h" style="font-size:12px!important;">
        <div class="logo-box p9">
            <div class="v-s-logo">
                <a href="/{$channel}.html">
                    <img src="__IMAGES__/logo.png">
                </a>
            </div>
            <div class="v-s-nav-search-box">
                <a href="/searchhome/{$channel}.html">
                    <div class="search-person">
                        <div class="s-text">&#20154;&#22971;</div>
                        <i class="bi bi-search"></i>
                    </div>
                </a>
                <a i="" href="" target="_blank">
            <img class="yjty-img" src="__IMAGES__/yjty.js" alt="" srcset="">
          </a>
          <img class="left-img" src="__IMAGES__/collect-btn.js" alt="" srcset="">
            </div>
        </div>
        <div class="h-textad">
            {volist name='XSudokuTextList' id="XSudokuText"}
            <a class="text-c-1" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank">
                {$XSudokuText['name'] | raw}
            </a>
            {/volist}
        </div>
    </div>
    <!-- 标题栏bp -->
    <div class="v-s-ul-time-vs_442378ea5a0a0b9d99bed43dc146baa0 top-nav pb10">
        <a href="/{$channel}.html">
            <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item">
                &#39318;&#39029;
            </div>
        </a>
        <a href="/novel/{$channel}.html" >
            <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item" style="display:flex;justify-content: center;align-items: center;">
                &#23567;&#35828; <img style="width:22px;height:12px;margin-left:2px;margin-top:1px; " src="__IMAGES__/new.svg">
            </div>
        </a>
        <a href="/comic/{$channel}.html">
            <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item" style="display:flex;justify-content: center;align-items: center;">
                &#28459;&#30011; <img style="width:22px;height:12px;margin-left:2px;margin-top:1px;" src="__IMAGES__/hots.svg">
            </div>
        </a>
        {volist name='menulist' id="menu"}
        <a href="/category/{$channel}.html?category_id={$menu['id']}">
            <div class="v-s-li-nav-link-vs_442378ea5a0a0b9d99bed43dc146baa0 nav-item ">{$menu['title'] | raw}</div>
        </a>
        {/volist}
    </div>
    {volist name='XTopHFList' id="XTopHF"}
    <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank" >
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img'] | raw}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
    </a>
    {/volist}
    <div class="ad-conter " style="font-size:12px!important;">
        {volist name='XSudokuList' id="XSudoku"}
        <a rel="external nofollow" i="{$XSudoku['id']}" href="{$XSudoku['url'] | raw}" target="_blank">
            <img class="lozad"
                 data-src="{$XSudoku['img'] | raw}"
                 src="__IMAGES__/loading_img_bg_default.jpg">
            <div>{$XSudoku['name'] | raw}</div>
        </a>
        {/volist}
    </div>
    <div class="textad pb10">
        {volist name='XTopTextList' id="XSudokuText"}
        <a class="text-c-4" rel="external nofollow" i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank">
            {$XSudokuText['name'] | raw}
        </a>
        {/volist}
    </div>
    {volist name='XTopBannerHFList' id="XTopHF"}
    <a class="hf-ad" rel="external nofollow" i="{$XTopHF['id']}" href="{$XTopHF['url'] | raw}" target="_blank" >
        <img class="hf-ad-img lozad"
             data-src="{$XTopHF['img'] | raw}"
             src="__IMAGES__/loading_img_bg_default.jpg" alt="">
    </a>
    {/volist}

    <!-- 人气榜 -->
    <div id="page">
        <!-- 热门推荐 -->
        <div class="nav">
            <div class="left">
                <img class="leftBtn" style="margin-right: 5px;" src="__IMAGES__/rectangle.svg" />
                <div class="leftName">小说</div>
            </div>
            <div class="right">
                {volist name='XCategoryTitleTextList' id="XSudokuText"}
                <a i="{$XSudokuText['id']}" href="{$XSudokuText['url'] | raw}" target="_blank" class="rightBtn">{$XSudokuText['name'] | raw}</a>
                {/volist}
            </div>
        </div>

        <div class="contentBox" >
            <div class="contentBoxName">
                <div class="contentTxt">主编力荐</div>
                <div class="dotBox swiper-pagination">
                    <!--<div class="dot dotColor"></div>-->
                    <!--<div class="dot dotColor"></div>-->
                    <!--<div class="dotChoose"></div>-->
                    <!--<div class="dot dotColor"></div>-->
                    <!--<div class="dot dotColor"></div>-->
                </div>
            </div>


            <div class="hotList mySwiper" style="width: 100%; overflow: hidden;  ">
                <div class="swiper-wrapper" >
                 {volist name="tjlist" id="item"}  
                <div class="swiper-slide" style="display: flex;flex-wrap: wrap;justify-content: space-between;width:100%">
                {volist name="item" id="index"}
             
                <a href="/novel/detail/{$channel}.html?novel_id={$index['id']}" class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" class="lozad" data-src="{$index['enpic'] | raw}" src="__IMAGES__/loading_img_bg_default.jpg"/>
                        {if condition='$index.is_finish == 0'}
                        <img style="position: absolute;
                        top: 0;
                        left: 0;width: 26px;height: 16px;" src="__IMAGES__/lianzai.png" />
                        {else}
                        <img style="position: absolute;
                        top: 0;
                        left: 0;width: 26px;height: 16px;" src="__IMAGES__/wanjie.png" />
                        {/if}
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">{$index['title'] | raw}</div>
                        <div class="bookNav">
                            <span style="margin-right:10px;">#{$index['cate'] | raw}</span>
                        </div>
                    </div>
                </a>
                 {/volist}
                 </div>
                  {/volist}
                </div>
            </div>

            <!-- 导航栏 -->
            <div class="lableList" >
                <a  href="/novel/{$channel}.html?sort=1" class="lable flex aColor {if condition='$sort eq 1'} lable_active  {/if}" >人气榜</a>
                <a  href="/novel/{$channel}.html?sort=2" class="lable flex aColor {if condition='$sort eq 2'} lable_active  {/if}">推荐榜</a>
                <a href="/novel/{$channel}.html?sort=3" class="lable flex  aColor {if condition='$sort eq 3'} lable_active  {/if}">收藏榜</a>
                <a  href="/novel/{$channel}.html?sort=4" class="lable flex aColor {if condition='$sort eq 4'} lable_active  {/if}">热搜榜</a>
            </div>

            <div class="homeBookBox">
                {volist name="bdlist" id="index" key="i"}
                <a  href="/novel/detail/{$channel}.html?novel_id={$index['id']}" class="homeBook">
                    <div class="homeBookLeft">
                        <img class="homeBookLeftCover lozad" src="__IMAGES__/loading_img_bg_default.jpg"  data-src="{$index['enpic'] | raw}" />
                        {if condition='$index.is_finish == 0'}
                        <img style="position: absolute;
                        top: 0;
                        left: 0;width: 26px;height: 16px;" src="__IMAGES__/lianzai.png" />
                        {else}
                        <img style="position: absolute;
                        top: 0;
                        left: 0;width: 26px;height: 16px;" src="__IMAGES__/wanjie.png" />
                        {/if}
                    </div>
                    <div class="homeBookright">
                        <div class="homeBookrightTitle" style="
                            {if $i == 1}
                             color: #FF3172;
                            {elseif $i == 2}
                             color: #FB5E2A;
                            {elseif $i == 3}
                            color: #CEA648;
                            {else}
                             color: #FFFFFF;
                            {/if}
">{$index['title'] | raw}</div>
                        <div class="homeBookrightNum" style="
                            {if $i == 1}
                             color: #FF3172;
                            {elseif $i == 2}
                             color: #FB5E2A;
                            {elseif $i == 3}
                            color: #CEA648;
                            {else}
                             color: #FFFFFF;
                            {/if}
">
                            <div class="homeBookrightNumDot" style="
                            {if $i == 1}
                            background: #FF1962;
                            {elseif $i == 2}
                            background: #FF5B25;
                            {elseif $i == 3}
                            background: #FFC53E;
                            color:#00000099;
                            {else}
                            background: #3B3A39;
                            {/if}
">{$i}</div> {$index['cate'] | raw}
                        </div>
                        <div class="homeBookreadNum">
                            <div>{$index['eye'] |qqw}阅读</div>
                            <div style="display: flex;align-items: center;">
                                <div class="dotred"></div>2小时前
                            </div>
                        </div>

                    </div>

                </a>
                {/volist}

            </div>
            <a href="/novel/rank/{$channel}.html?sort={$sort}"><div class="homeBookBtn">
                点击查看 <span style="color: #F83E57;
">{$bangtitle}</span> 全部内容
            </div></a>
            <div class="chooseMl" style="margin-top: 10px;">
                <a href="/novel/{$channel}.html" class="choosePage  {if condition='$cid eq 0'} choosePage_active  {/if}">全部题材</a>
                {volist name="novelmenulist" id="index"}
                <a href="/novel/{$channel}.html?cid={$index['id']}" class="choosePage {if condition='$cid eq $index.id'} choosePage_active  {/if}">{$index['title'] | raw}</a>
                {/volist}
            </div>

            <div class="hotList">
                {volist name="fllist" id="index"}
                <a  href="/novel/detail/{$channel}.html?novel_id={$index['id']}" class="book">
                    <div class="bookImg">
                        <img style="width: 100%;height: 100%;" class="lozad" src="__IMAGES__/loading_img_bg_default.jpg" data-src="{$index['enpic'] | raw}" />
                        <img style="position: absolute;
                        top: 0;
                        left: 0;width: 26px;height: 16px;" src="__IMAGES__/lianzai.png" />
                        <div class="bookReadNum">
                            <div class="bookReadNumLeft">
                                <img src="__IMAGES__/book_Open-W.svg" />
                                <span class="view_number">{$index['eye'] |qqw}</span>
                            </div>
                            <div class="bookReadNumLeft">
                                <img src="__IMAGES__/star-w.svg" />
                                <span class="collect_number" >{$index['shoucang'] |qqw}</span>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 5px;">
                        <div class="bookName">{$index['title'] | raw}</div>
                        <div class="bookNav">
                            <span style="margin-right:10px;">#{$index['cate'] | raw}</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;margin-top: 5px;">
                            <div class="bookNum">共{$index['chaptercount']}章</div>
                            <div class="bookTime">
                                <div class="dot" style="opacity:1;"></div>2小时前
                            </div>
                        </div>
                    </div>

                </a>
                {/volist}
            </div>

            <a href="/novel/category/{$channel}.html?cid={$cid}"><div class="homeBookBtn">
            点击查看 <span style="color: #F83E57;
">{$catetitle | raw}</span> 全部内容
        </div></a>


    </div>


    </div>


    </div>

    <script>

    </script>
    {include file="mobile_footer"}
</body>
 <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
<script>

    $(document).ready(function () {
         //小说分类点击变亮
         $(".lable").click(function () {
            $(".lable").removeClass("lable_active");
            $(this).addClass("lable_active");
        });
        //漫画分类点击变亮
        $(".choosePage").click(function () {
            $(".choosePage").removeClass("choosePage_active");
            $(this).addClass("choosePage_active");
        });
        //点击正倒序
        $('.mulvTop').click(function () {
            var currentText = $('#textToChange').text();
            if (currentText === "正序") {
                $('#textToChange').text("倒序");
                $('#imgToChange').attr('src', '__IMAGES__/daoxu.svg');

            } else {
                $('#textToChange').text("正序");
                $('#imgToChange').attr('src', '__IMAGES__/zhengxu.svg');
            }
        });
         
         
         
        // var view_number_xs = $(".view_number_xs").text();
        // var view_number_xs = formatNumber(view_number_xs);
        // $('.view_number_xs').text(view_number_xs);
        
        // var collect_number_xs = $(".collect_number_xs").text();
        // var collect_number_xs = formatNumber(collect_number_xs);
        // $('.collect_number_xs').text(collect_number_xs);
        //观看数变k
        // var view_number = $(".view_number").text();
        // var view_number = formatNumber(view_number);
        // $('.view_number').text(view_number);
        // //收藏数变k
        // var collect_number = $(".collect_number").text();
        // var collect_number = formatNumber(collect_number);
        // $('.collect_number').text(collect_number);
    
        
        
        
        $('.homeBookrightTitle').each(function() {
            // 获取当前元素的文本
            var text = $(this).text();
            // 检查文本长度
            if (text.length > 7) {
            // 截取前 7 个字符并添加省略号
            var truncatedText = text.substring(0, 7) + '...';
            // 更新元素的文本
            $(this).text(truncatedText);
            }
        });
    });
    //  function formatNumber(num) {
    //         if (num >= 1000) {
    //             // 使用 Math.round() 确保不会有小数部分
    //             return Math.round(num / 1000) + 'k';
    //         }
    //         return num.toString();
    //     }
</script>

</html>